/* custom.css */
@font-face {
  font-family: "PtSans";
  font-style: normal;
  font-weight: normal;
  src: url("ptsans-regular-webfont.woff2") format("woff2"),
    url("ptsans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: normal;
  font-weight: bold;
  src: url("ptsans-bold-webfont.woff2") format("woff2"),
    url("ptsans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: italic;
  font-weight: bold;
  src: url("ptsans-bolditalic-webfont.woff2") format("woff2"),
    url("ptsans-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: italic;
  font-weight: normal;
  src: url("ptsans-italic-webfont.woff2") format("woff2"),
    url("ptsans-italic-webfont.woff") format("woff");
}

html {
    /* define light-mode variable overrides here */
    --primary-color: #EF9F06;
    --primary-dark-color: #E18400;
    --primary-light-color: #FAB32B;
    --primary-lighter-color: #FFD482;
    --primary-lightest-color: #FFE8BD;
    --page-foreground-color: #6B6B6B;
    --side-nav-background: #636B70;
    --side-nav-foreground: #fff;
    --header-background: #636B70;
    --header-foreground: #fff;
    --searchbar-background: #fff;
    --font-family: PtSans, Arial, sans-serif;
}

#nav-sync {
    top: 36px !important;
}

#nav-tree-contents {
    margin-top: 40px;
}

.sm-dox a span.sub-arrow,
.sm-dox a:hover span.sub-arrow {
    color: var(--primary-color);
}
