/*!
 * Copyright © 2003-2026 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */

/* custom.css */
@font-face {
  font-family: "PtSans";
  font-style: normal;
  font-weight: normal;
  src: url("ptsans-regular-webfont.woff2") format("woff2"),
    url("ptsans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: normal;
  font-weight: bold;
  src: url("ptsans-bold-webfont.woff2") format("woff2"),
    url("ptsans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: italic;
  font-weight: bold;
  src: url("ptsans-bolditalic-webfont.woff2") format("woff2"),
    url("ptsans-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "PtSans";
  font-style: italic;
  font-weight: normal;
  src: url("ptsans-italic-webfont.woff2") format("woff2"),
    url("ptsans-italic-webfont.woff") format("woff");
}

html {
    /* define light-mode variable overrides here */
    --primary-color: #ffb619;
    --primary-dark-color: #E18400;
    --primary-light-color: #FAB32B;
    --primary-lighter-color: #FFD482;
    --primary-lightest-color: #FFE8BD;
    --page-foreground-color: #606060;
    --page-secondary-foreground-color: #606060;
    --side-nav-background: #636B70;
    --side-nav-foreground: #fff;
    --header-background: #636B70;
    --header-foreground: #fff;
    --searchbar-background: #fff;
    --font-family: PtSans, Arial, sans-serif;
    --top-height: 200px;
    --galette-blue: #007baa;
    --galette-dark-blue: #005677;
    --galette-dark-grey: #242424;
}

a:link, a:visited,
.navpath li.navelem a {
  color: var(--galette-blue) !important;
}
a:hover, a:focus, a:active,
.navpath li.navelem a:hover,
.navpath li.navelem b {
  color: var(--galette-dark-blue) !important;
}
.navpath li.navelem a:hover {
  text-shadow: none;
  text-decoration: underline;
}
#titlearea table {
  width: 100%;
}
#titlearea table tbody tr {
  height: auto !important;
}
#projectlogo img {
  width: 129px;
  height: 60px;
  max-height: none !important;
  padding-top: 12px;
}
#projectalign, #projectversion {
  display: none;
}
#slogan {
  color: var(--side-nav-foreground);
  padding-top: 25px;
  text-align: center;
}
#MSearchSelectWindow a.SelectItem:hover {
  color: var(--galette-dark-grey) !important;
}
#nav-tree .selected a {
  color: var(--primary-lightest-color) !important;
}
.arrow {
  font-size: .6em;
  margin-top: -.8em;
  margin-right: .5em;
}
.paramname {
  color: var(--galette-blue);
}
.icon,
span.mlabel {
  color: var(--galette-dark-grey);
}
#nav-sync img {
  opacity: .7;
}
.main-menu-btn-icon,
.main-menu-btn-icon::before,
.main-menu-btn-icon::after {
  background-color: var(--header-foreground);
}
.sm-dox a,
.sm-dox a:visited,
.sm-dox a:focus,
.sm-dox a:active {
  color: var(--side-nav-foreground) !important;
}
.sm-dox a:hover,
ul.sm-dox ul a:link,
ul.sm-dox ul a:visited,
ul.sm-dox ul a:focus,
ul.sm-dox ul a:hover {
  color: var(--galette-dark-grey) !important;
}
.sm-dox a span.sub-arrow::before {
  display: block;
  content: '+';
}
.sm-dox a.highlighted span.sub-arrow::before {
  display: block;
  content: '-';
}
@media screen and (min-width: 767px) {
  #doc-content {
    padding-top: calc(var(--top-height) - 180px);
  }
}
