.project
.settings/
nbproject

# Mac OS files
.DS_Store

# /galette/
/galette/build-stamp
/galette/configure-stamp

/galette/data/cache/*
!/galette/data/cache/readme.txt
!/galette/data/cache/.htaccess

.vimfiles*
.exvim*
*.vimentry
*.exvim
quick_gen_project_*

# /galette/data/attachments/
/galette/data/attachments/*
!/galette/data/attachments/readme.txt
!/galette/data/attachments/.htaccess

# /galette/config/
/galette/config/config.inc.php*
!/galette/config/config.inc.php.dist
/galette/config/local_*
/galette/config/behavior.inc.php
/tests/config/mysql/local_config.inc.php
/tests/config/pgsql/local_config.inc.php

# /galette/data/exports/
/galette/data/exports/*
!/galette/data/exports/readme.txt
!/galette/data/exports/.htaccess

# /galette/data/imports/
/galette/data/imports/*
!/galette/data/imports/readme.txt
!/galette/data/imports/.htaccess

# /galette/data/logs/
/galette/data/logs/*.log
!/galette/data/logs/readme.txt
!/galette/data/logs/.htaccess

# /galette/photos/
/galette/data/photos/*
!/galette/data/photos/readme.txt
!/galette/data/photos/.htaccess

# /galette/plugins/
/galette/plugins/*
!/galette/plugins/readme.txt

# /galette/data/tempimages/
/galette/data/tempimages/*.png
/galette/data/tempimages/*.jpg
/galette/data/tempimages/*.gif

# /galette/data/templates_c/
/galette/data/templates_c/*.php

# /galette/data/files/
/galette/data/files/*
!/galette/data/files/readme.txt
!/galette/data/files/.htaccess

# Test stuff
tests/coverage/
tests/mageekguy.atoum.phar

# Bundled libs
galette/vendor/
node_modules/
galette/webroot/assets/*
semantic

# API documentation
apidocs/
build/

#Backup files
*~

#Working stuff
dbs/
dist/
.zanata-cache/
