.project
.settings/
nbproject

# /galette/
/galette/build-stamp
/galette/configure-stamp

# /galette/config/
/galette/config/config.inc.php

# /galette/exports/
/galette/exports/*

# /galette/logs/
/galette/logs/*.log

# /galette/photos/
/galette/photos/*.jpg
/galette/photos/*.png
/galette/photos/*.gif

# /galette/plugins/
/galette/plugins/*

# /galette/tempimages/
/galette/tempimages/*.png
/galette/tempimages/*.jpg
/galette/tempimages/*.gif

# /galette/templates_c/
/galette/templates_c/*.tpl.php
