parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 6
    paths:
        - galette/lib/
    scanFiles:
        - galette/config/paths.inc.php
        - galette/config/versions.inc.php
        - galette/config/config.inc.php.dist
        - galette/config/galette_tcpdf_config.php
    scanDirectories:
        - galette/includes/
    dynamicConstantNames:
        - GALETTE_NIGHTLY
        - GALETTE_DEBUG
    universalObjectCratesClasses:
        - RKA\Session
    ignoreErrors:
        - '/Instantiated class XHProfRuns_Default not found/'
        - '/Attribute class .*\\Inject does not exist./'
        - '/Cannot access property .* on .*ArrayObject.*/'
        - '/Access to an undefined property ArrayObject.*/'
        - '/Parameter #3 \$right of class Laminas\\Db\\Sql\\Predicate\\Operator constructor expects bool\|float\|int\|string\|null, Laminas\\Db\\Sql\\Predicate\\Expression given./'
