<div class="grouped fields">
    <div class="field">
{% if not member.isCompany() %}
    {% set component_class = component_class ?? 'field' ~ ' nocompany' %}
{% endif %}
{% include "components/forms/text.html.twig" with {
        name: entry.field_id,
        id: entry.field_id,
        value: member.company_name,
        required: entry.required,
        disabled: entry.disabled,
        label: entry.label,
        component_id: "company_field",
        component_class: component_class ?? 'field'
    }
%}
    </div>
    <div class="field">
{% include "components/forms/checkbox.html.twig" with {
        name: "is_company",
        id: "is_company",
        value: "1",
        label: _T("Is company?"),
        title: _T("Is member a company?"),
        tip: _T("Do you manage a non profit organization, or a company? If you do so, check the box, and then enter its name in the field that will appear."),
        checked: member.isCompany(),
    }
%}
    </div>
</div>
