{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
<div class="grouped">
    <div class="field">

{% set component_class = '' %}
{% if (member.legal_status == constant("Galette\\Entity\\LegalStatus::INDIVIDUAL")) %}
    {% set component_class = 'displaynone' %}
{% endif %}


  <div class="ui grid">
    <div class="six wide column">
{% include "components/forms/select.html.twig" with {
        id: 'legal_status',
        name: 'legal_status',
        value: member.legal_status,
        values: legalstatus_list,
        label: _T("Legal status :"),
        component_class: 'field',
}
%}
    </div>
<!-- TODO : Changer intitulé par Company or organisation name   {{ entry.label}} -->
    <div class="ten wide column">
{% include "components/forms/text.html.twig" with {
        name: entry.field_id,
        id: entry.field_id,
        value: member.company_name,
        required: entry.required,
        disabled: entry.disabled,
        label: entry.label,
        component_id: "company_field",
        component_class: 'field '~component_class
    }
%}
    </div>  
</div>     

    

