{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "components/forms/input.html.twig" %}

{% block component %}
    {% set type = "text" %}
    {% set example = _T("(yyyy-mm-dd format)") %}
    {% if id == 'ddn_adh' and member.id != '' and member.birthdate != '' %}
        {% set example = _T("(yyyy-mm-dd format)") ~ "<span id=\"member_age\">" ~ member.getAge() ~ "</span>" %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block element %}
    <div class="ui calendar" id="birth-rangestart">
        <div class="ui input left icon">
            <i class="calendar icon" aria-hidden="true"></i>
            {{ parent() }}
        </div>
    </div>
{% endblock %}
