{% extends "components/forms/input.html.twig" %}

{% block element %}
    <select
        name="{{ name ?? id }}"
        id="{{ id }}"
        {% if required is defined and required == true %} required="required"{% endif %}
        {% if disabled is defined and disabled == true %} disabled="disabled"{% endif %}
        class="ui search dropdown nochosen"
    >
    {% for option_value, option_label in values %}
        <option value="{{ option_value }}"{% if option_value == value %} selected="selected"{% endif %}>{{ option_label }}</option>
    {% endfor %}
    </select>
{% endblock %}
