Source: galette
Section: web
Priority: optional
Maintainer: Georges Khaznadar <gekhajofour@netinfo.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: galette
Architecture: all
Depends: php4
Description: Yet another LUG administration system.
 Galette makes easy to manage user subscription, annual fee etc.
 The acronym is for the French sentence: Gestionnaire d'Adhérents 
 en Ligne Extrèmement Tarabiscoté mais Tellement Efficace, which means
 In-line membership management extremely sophisticated, but so efficient.
