html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  /*background-color: #6b6b6b;*/
}

body.pushable {
  background: #fff;
  color: #636B70;
}

.ui.header {
  color: #636B70;
}

body.pushable:not(.loggedin) > .pusher {
    display: flex;
    justify-content: center;
}

body.front-page .ui.message {
  text-align: center;
}

.sr-only {
  display: none;
}

.bgcolor,
.ui.bgcolor {
   background-color: #ddddff !important;
   border: none!important;
  /*background-color: rgba(99, 107, 112, .8) !important;*/
}

h1.ui.bgcolor {
  background-color: rgba(255, 182, 25, 1) !important;
}

/*.toc.bgcolor > div{
  background-color: white !important;
}*/

.ui.top.menu:not(.vertical):not(.tabular):not(.tabs) .item.header::before {
  content: none;
}

.ui.link.menu .item.is-staff,
.ui.menu .dropdown.item.is-staff,
.ui.menu .link.item.is-staff,
.ui.menu a.item.is-staff {
  background-color: #63d47c;
}

.ui.link.menu .item.is-staff:hover,
.ui.menu .dropdown.item.is-staff:hover,
.ui.menu .link.item.is-staff:hover,
.ui.menu a.item.is-staff:hover {
  background-color: #59c271;
}

.ui.link.menu .item.is-admin,
.ui.menu .dropdown.item.is-admin,
.ui.menu .link.item.is-admin,
.ui.menu a.item.is-admin {
  background-color: #fb8d7e;
}

.ui.link.menu .item.is-admin:hover,
.ui.menu .dropdown.item.is-admin:hover,
.ui.menu .link.item.is-admin:hover,
.ui.menu a.item.is-admin:hover {
  background-color: #ec8476;
}

.ui.pointing.menu.bg-color .item.active,
.ui.pointing.menu.bg-color .active.item::after {
  background-color: #d3d3f5;
}

#top-navbar.ui.menu {
  border: 0;
  border-radius: 0;
  min-height: 3.5rem;
}

#top-navbar.ui.menu .item img.logo {
  margin-right: 1.5rem;
  max-height: 2.5rem;
  width: auto;
}

#top-navbar div.item a.button:not(:first-child) {
  margin-left: .5rem;
}

#top-navbar.ui.menu .item.tray .ui.label > .icon,
#top-navbar.ui.menu .item.tray > .label:not(.floating) {
  margin: 0;
}

a.ui.button i.icon,
a.ui.button:hover i.icon {
  color: inherit;
}

.ui.menu .header.item {
  text-align: left;
  font-weight: 700;
}

.ui.menu .dropdown.right-aligned.item .menu {
  right: 0;
  left: auto;
}
.ui.menu .ui.dropdown.language .menu > .item {
  text-transform: capitalize !important;
}

.language span {
  text-transform: uppercase;
}

.ui.fixed.menu + .pusher {
  padding-top: 4.5rem;
}

.ui.grid > aside.column:not(.row) {
  padding-bottom: 2rem;
}

.password-lost {
  color: rgb(102, 102, 102);
  font-size: .9rem;
  display: inline-block;
}

.password-lost:hover {
  color: #000;
}

.ui.message > .password-lost:first-child,
.ui.message > .password-lost:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

aside.toc {
  display: none;
}

aside .ui.vertical.menu {
  width: auto;
  max-width: 100%;
}

section.content {
  padding: 1.25rem;
}

.ui.dropdown .item.button,
.ui.vertical.menu .item.button {
  border: 1px solid #d3d3d3;
  margin: .2rem 0;
}

.ui .fields:first-child:last-child {
  margin-bottom: 0;
}

#filtre .fields .fields {
  margin: 0;
}

#filtre .fields .field.flexend {
  display: flex;
  align-items: end;
}

.ui.list .label > a.tooltip {
  opacity: 1;
  padding-right: .4rem;
}

.ui.list .label a.tooltip i {
  color: #fff;
}
.ui.list .label a.tooltip:hover i {
  color: #000;
}

#recup_mailing.ui.tertiary.button,
#recup_mailing.ui.button > .icon {
  margin: 0 !important;
}

#back2top {
  z-index: 2;
}

footer,
footer .ui.horizontal.list .list > .item,
footer .ui.horizontal.list > .item{
  font-size: .95rem;
}

@media only screen and (max-width: 767px) {
  .sidebar.uncover + .fixed.menu .toc i::before {
    content: '\f00d';
  }
  #top-navbar.ui.menu .item img.logo {
    margin-right: 1rem;
  }
  .ui.menu .header.item {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
@media only screen and (min-width: 768px) {
  .fields_list span{
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .ui.top.menu:not(.vertical):not(.tabular):not(.tabs) .item:not(.header):not(.toc) {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .loggedin .ui.top.menu:not(.vertical):not(.tabular):not(.tabs) {
    display: none;
  }
  .ui.top.menu:not(.vertical):not(.tabular):not(.tabs) .item.header,
  .ui.top.menu:not(.vertical):not(.tabular):not(.tabs) .item.toc {
    display: none;
  }
  .loggedin .ui.fixed.menu + .pusher {
    padding-top: 0;
  }
  .pusher > .full.height {
    display: flex;
  }
  aside.toc {
    display: block;
    position: fixed !important;
    height: 100%;
    overflow-y: scroll;
    width: 260px;
    padding: 1.25rem;
  }
  body:not(.front-page) section.content {
    margin-left: 260px;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  section.desktop .container {
    max-width: 695px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  aside.toc {
    width: 350px;
  }
  body:not(.front-page) section.content {
    margin-left: 350px;
  }
  section.desktop .container {
    max-width: 850px;
  }
}

/* Fix conflicts between SUI and icons classes
 */
.ui.card.icon {
    width: auto;
    display: inline-block;
    margin-right: .25rem;
}
.ui.grey.card.icon {

    box-shadow: none;

}

/* Fix Summernote modal display
 */
.note-modal-backdrop {
    display: none !important;
}
.note-modal.open {
    background: rgba(0,0,0,0.5);
}
.note-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.note-modal .note-btn {
    margin-bottom: 1rem;
    padding: 10px;
}

/* Galette theme
 */
.ui.styled.accordion .title {
  background-color: rgba(255, 182, 25, 0.3  );
}
.ui.styled.accordion .active.title {
  background-color: rgba(255, 182, 25, 0.5);
}

.ui.styled.accordion {
  box-shadow: 0 1px 2px 0 rgba(255,182,25,1),0 0 0 1px rgba(255,182,25,1);
}

nav.item.buttons {
  margin-top: .5em;
}

nav.item.buttons a.ui.button {
  background-color: rgba(255, 182, 25, 0.7);
  color: rgba(107, 107, 107, .8);
}

nav.item.buttons a.ui.button.disabled, nav.item.buttons div.ui.button.disabled {
  background-color: rgba(255, 182, 25, 0.7);
  color: rgba(107, 107, 107, .8);
}

nav.item.buttons a.ui.button:hover {
  background-color: rgba(255, 182, 25, 0.9);
  color: rgba(107, 107, 107, 1);
}

.ui.menu .item {
  color: rgba(255, 255, 255, 0.8);
}

aside .ui.menu .item {
  color: #636b70;
}

.ui.menu a.item:hover, .ui.menu .active.item, .ui.vertical.menu .active.item {
  background-color: #ffb619;
  border-color: #ffb619;
}

.ui.menu .active.item:hover, .ui.vertical.menu .item:hover {
  background-color: #ffb619;
  color: white;

}

.ui.attached.segment {
  border-color: #636b70;
}

.ui.menu {
  background-color: #636B70;
  border: none!important;
}

.ui.attached.tab.inverted.red.segment.segment.segment.segment.segment {
  background-color: rgba(219, 40, 40, .7);
}