/*
 * == Summary
 *
 * == Global main styles
 * == Forms elements
 * == Header
 * == Main menu
 * == Footer
 * == Main Galette styles
 * == Public pages
 * == Mobile devices
 */

/*
 * == Global main styles
 */
a {
    text-decoration: none;
    /*color: #0000FF;
}

a:hover {
    color: #eea423;*/
}

.ui-button:hover {
    color:inherit;
}

form,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Liberation sans", Verdana, sans-serif;
    font-size:0.8em;
    background-color:white;
    color:black;
}

img{
    border:none;
}

label, input[type="button"], input[type="submit"], input[type="reset"], button {
    cursor: pointer;
}

/* == Forms elements */
input, button {
    font-size:100%;
}

input, textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #bbb;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
   display: inline-block;
   vertical-align: middle;
}

.galette_form input[type="radio"] + label {
    vertical-align: text-top;
    padding: 0 1em 0 0!important;
}

input:focus,
textarea:focus {
    border-color: #FFB619;
}

input:required {
    border:1px red solid;
    border-left-width: .5em;
}
input:required:valid {
    border-color:green;
}

#galette_body .selectize-input.required {
    border-color:green;
}

#galette_body .selectize-input.required.invalid {
    border:1px red solid;
}

input[readonly] {
    color: #555;
    background-color: #e6e6e6;
    cursor: default;
}

input[type=file], input[type=color] {
    border: none;
}

input[type=color] {
    padding: 0;
    cursor: pointer;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
}

pre {
    margin: 0px;
}

img, table, td, blockquote, code, pre, textarea, input {
    max-width: 100%;
}

code, pre, samp, textarea {
    word-wrap: break-word;
    white-space: pre-wrap;
}

abbr[title] {
    border-bottom: 1px dotted #555;
    cursor: help;
}

th, cation {
    text-align: left;
}

p#required {
    font-size: .8em;
    float:left;
    margin:0;
}

select:invalid {
  height: 0px !important;
  opacity: 0 !important;
  position: absolute !important;
  display: flex !important;
}

select:invalid[multiple] {
  margin-top: 15px !important;
}

select.lang option {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

[id=back2top] {
    background: #DDDDFF;
    color: black;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: .2em .5em;
    border-radius: 6px 0 0 0;
    opacity: 0.45;
}

[id=back2top]:hover {
    color: black;
    opacity: 1;
}

/* =/ Global main styles */

/*
 * == Header
 */
 nav {
     margin: .3em 0 .5em;
     text-align: center;
}

nav a{
     display: inline-block!important;
}
/* =/ Header */

/*
 * == Main menu
 */
#menu {
    float: left;
    background-color: #DDDDFF;
    margin:0 0 0.5em 0.4em;
    padding:0 .2em;
    width:16em;
    text-align: center;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#menu h1 {
    font-size:1em;
    cursor:pointer;
    text-align:left;
    margin:0;
}
/* .nojs class will be removed at runtime by a js script */
#menu h1.nojs{
    background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png) repeat-x scroll 50% 50%;
}
#menu ul.nojs{
    margin:0 0 .5em 0;
}

#menu ul {
    list-style-type: none;
    padding: 0px;
    text-align:left;
    overflow:hidden; /*a:active under firefox makes a overflow*/
}

#menu li {
    background-color: #fff;
    border-bottom:1px #DDDDFF solid;
}

#menu li:last-child{
    border-bottom:none;
}

#menu li a, #plang_selector a {
    padding: .1em .3em;
    display:block;
    color: #212121;
}
#menu li a:hover{
    background-color: #DDDDFF;
    text-decoration:underline;
}
.selected {
    opacity: .35;
    background-image: none;
}
#menu li.selected a{
    background-color: #DDDDFF;
}
/* =/ Main menu */

/*
 * == Desktop
 */

/*#desktop, #news, #share {
    width: 50%;
    min-width: 40em;
    margin: 0 auto;
}*/

#desktop, #share {
    border-spacing:3em 1em;
    text-align: center;
}

#share {
    margin-bottom: 1em;
}

/*#news {
    margin-top: 1em;
}*/

#news > div {
    text-align: left;
}

#news p {
    margin: 0 .2em .3em;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

.desktop, .panels {
    border-spacing:1em;
}

#desktop,
#news,
#share,
.plugin,
#groups_list,
#group_infos {
    border:1px solid #AAAAAA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.plugin,
#groups_list,
#group_infos {
    display: table-cell;
}

.plugin {
    display: block;
    margin-bottom: 1em;
}

.plugin article {
    display: inline-block;
    min-width: 49%;
}

.plugin article header {
    border-bottom: 1px #DDDDFF solid;
}

#desktop header,
#news header,
#share header,
.plugin header,
#groups_list header,
#group_infos header {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#desktop a, #share a {
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    color: #555555;
    background-position: 50% .5em, 50% 50%;
    background-repeat: no-repeat, repeat-x;
    display: inline-block;
    width: 110px;
    text-align: center;
    vertical-align: bottom;
    padding: 60px .2em .2em;
    margin: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#desktop a:hover, #share a:hover {
    border: 1px solid #999999;
    background-color: #ffb619;
    font-weight: normal; color: #212121;
}

#desktop #transactions {
    background-image: url(images/desktop/transactions.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #transactions:hover {
    background-image: url(images/desktop/transactions.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #members {
    background-image: url(images/desktop/members.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #members:hover {
    background-image: url(images/desktop/members.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #groups {
    background-image: url(images/desktop/groups.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #groups:hover {
    background-image: url(images/desktop/groups.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #contribs {
    background-image: url(images/desktop/contribs.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #contribs:hover {
    background-image: url(images/desktop/contribs.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #mailings {
    background-image: url(images/desktop/mailing.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #mailings:hover {
    background-image: url(images/desktop/mailing.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #reminder {
    background-image: url(images/desktop/reminders.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #reminder:hover {
    background-image: url(images/desktop/reminders.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #prefs {
    background-image: url(images/desktop/preferences.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #prefs:hover {
    background-image: url(images/desktop/preferences.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #plugins {
    background-image: url(images/desktop/plugins.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #plugins:hover {
    background-image: url(images/desktop/plugins.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}
/* =/ Desktop */

#share p {
    margin-bottom: 0;
}

#telemetry_panel {
    display: none; /* Start hidden */
}
#telemetry_panel h3 strong {
    color: #ffb619;
}

#share #telemetry {
    background-image: url(images/desktop/telemetry.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#share #telemetry:hover {
    background-image: url(images/desktop/telemetry.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#share #register {
    background-image: url(images/desktop/register.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#share #register:hover {
    background-image: url(images/desktop/register.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

/* =/ Share */

/*
 * == Footer
 */
footer {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

footer h4{
    font-size: 1em;
    margin: 0em 0 .2em;
    display:inline-block;
}

footer ul{
    margin:0;
    padding: 0;
}

footer li {
    display:inline-block;
    padding: .1em .2em;
    margin:0 .2em;
}

footer a:hover {
    color: #000;
}
/* =/ Footer */

/* == Main Galette styles */
#asso_name {
    text-align: center;
    margin: .5em auto 1em;
    font-weight: bold;
    font-size: 1.1em;
}

#listfilter {
    text-align: center;
    background-color: #DDDDFF;
    padding: 10px;
    margin:0 1em 1em 1em;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.selectize-control {
    display: inline-block;
    min-width: 10em;
    text-align: left;
}


.cssform .selectize-input {
    margin-right: 2em;
    min-width: 25em;
}

#galette_body .selectize-input, .public_page .selectize-input {
    padding: .1em 20px .1em 8px;
    overflow: unset;
}

#galette_body .selectize-dropdown .option, .public_page .selectize-dropdown .option {
    cursor: pointer;
}

#galette_body .selectize-dropdown .active, .public_page .selectize-dropdown .active  {
    background-color: #DDDDFF;
}
#galette_body .selectize-dropdown .option, #galette_body .selectize-dropdown .optgroup-header,
.public_page .selectize-dropdown .option, .public_page .selectize-dropdown .optgroup-header {
    padding: .2em .5em;
}

#listfilter input[type="text"]{
    padding:0;
}

#listfilter > p {
    display: inline-block;
}

.selection_menu{
    margin:0;
    padding:0;
}
.selection_menu li{
    margin:0.2em 0;
    display: inline-block;
}
.selection_menu input.submit{
    margin:0;
    background:none;
    display:inline;
    cursor:pointer;
    border:none;
    font-weight:normal;
    padding-left:20px;
    text-align:left;
}

.selection_menu .exemple {
    font-weight: normal;
    font-size:0.9em;
}

.hasPicker{
    display: inline;
}

.hidden {
    display: none!important;
}
/* loading animation */
#loading {
    position:fixed;
    /*top:0;
    bottom:0;
    left: 0;
    right: 0;*/
    top:0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
#loading p {
    position: fixed;
    top:45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 20%;
    /*margin-left: 40%;*/
    background-color: rgba(255,255,255,.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 0;
    -moz-box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    -webkitbox-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
}

#superadmin, #demo {
    color: white;
    font-weight: bold;
    margin: 0 .5em .5em;
    padding:.2em;
    background-color: rgba(255, 0, 0, 0.4);
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
    box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
}

#demo {
    background-color:rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
}

.public_page #demo {
    position: absolute;
    width: 16em;
    top: 0;
    left: 15em;
    margin:0;
    border-radius: 0 0 6px 6px;
}

/* == Buttons */
#btnvalid {
    padding-left: 1.4em!important;
    background-position: 10px 50%, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}


input#btnvalid {
    padding-left:2.4em!important;
}

/*footer a, a > i {
    color: rgb(102, 102, 102);
}*/

a:hover i {
    color: rgba(0, 0, 0, 1);
}

.use > i, button.use i {
    color: rgba(0, 128, 0, .5);
}


.use:hover > i, button.use:hover i {
    color: rgba(0, 128, 0, 1);
}

.action > i, button.action i {
    color: rgba(0, 0, 255, .5);
}

.action:hover > i, button.action:hover i {
    color: rgba(0, 0, 255, 1);
}

.info > i, button.info i {
    color: rgba(0, 0, 255, .5);
}

.info:hover > i, button.info:hover i {
    color: rgba(0, 0, 255, 1);
}
/*.button i {
    padding-right: .3em;
}*/

.delete i, #delete i, .actions_row .delete i {
    color: rgba(255, 0, 0, .5);
}

.delete:hover i, #delete:hover i, .actions_row .delete:hover i {
    color: rgba(255, 0, 0, 1);
}

/*.button.small {
    padding-left: inherit!important;
    background-repeat: repeat!important;
}
.button.small span {
    padding: 0 .5em;
    font-size: .7em;
}*/

.button.notext {
    width: 1.3em;
    height: 2em;
}
.button.notext span {
    display: none;
}

/*#recup_mailing {
    float: right;
    margin-right: .5em;
}*/

h1 #sendmail {
    display: inline-block;
    height: 25px;
    width: 35px;
    position: absolute;
    top:.1em;
    right: .5em;
    overflow: hidden;
    text-indent: 50px;
    padding:0!important;
}

h1 #sendmail .ui-button-text {
    display: none;
}

#logout_10 i {
    color: rgba(255, 0, 0, 0.6);
}

.tab-button {
    position: absolute!important; /* used along with .button */
    right: .5em;
}

.ui-tabs .tab-button , #group .tab-button{
    top: .5em;
}

legend .tab-button {
    right: 2.5em;
}

#btnvalid {
    background-image:url(images/icon-valid.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnvalid.ui-state-hover {
    background-image:url(images/icon-valid.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

.bigbutton {
    padding-top:30px!important;
    padding-left: .5em!important;
    padding-right: .5em!important;
    display: block;
    text-align: center;
}
.bigbutton i {
    display: block;
    width: 100%;
    position:absolute;
    top: .2em;
    left: 0;
    padding-right: 0;
}

/*.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.center {
    text-align: center!important;
}*/

.center_table {
    margin:0 auto;
}

.cotis-ok {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-never {
    background-color: #EEEEEE!important;
    vertical-align: top;
}

.cotis-exempt {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-soon {
    background-color: #FFE9AB!important;
    vertical-align: top;
}

.cotis-late, .transaction-uncomplete {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

.cotis-lastday {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

.cotis-normal, .transaction-normal {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-give {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

#transaction_detail {
    margin-bottom: 1em;
}

#transaction_detail caption {
    font-weight: bold;
    padding:.2em;
}

#transaction_detail thead td {
    text-align: center;
    font-style: italic;
    background-color: transparent;
}

.debuginfos span{
    display: block;
    font-family: monospace;
    font-size:1.1em;
}

p#mail_sign {
    position: relative;
}

/* =/ Main Galette styles */

/* == Groups stuff */
#groups_list {
    border-spacing:3em 1em;
    min-width: 13em;
}

#groups_tree, #group_infos > div {
    margin: .5em;
}

#group_infos{
    width: 100%;
    margin-left: 1em;
    vertical-align: top;
}
/* =/ Groups stuff */

/* == Ajax member selection */
#members_list {
    padding-top: 1em;
}

.select_members {
    padding-right: 1em;
}
.select_members,
#selected_members,
#selected_groups {
    display:table-cell;
    vertical-align: top;
}

.select_members.single {
    display: block;
}

.select_members th.left {
    width:50%;
}

#selected_members header,
#selected_groups header {
    padding-top: 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#selected_members,
#selected_groups {
    min-width: 25em!important;
    margin-left:.5em!important;
    text-align: center;
}

#selected_members ul,
#selected_groups ul {
    text-align: left;
    list-style-type: none;
    cursor: pointer;
    overflow: auto;
}

#selected_members ul i,
#selected_groups ul i {
    margin-right: .2em;
}

#selected_members ul #none_selected,
#selected_groups ul #none_selected {
    cursor: auto;
}

#selected_members .unreachables {
    text-decoration: line-through;
    color: red;
}

#selected_members h3,
#selected_groups h3 {
    margin:0;
    font-size: 1em;
}

/*
 * == Public pages
 */
 .public_page footer{
    clear:both;
}

.public_page header {
     text-align: center;
     margin-top:1em;
}

.public_page table.listing,
.public_page table.infoline,
.public_page body > p {
    margin: 0 auto;
    width: 95%;
}

.public_page p {
    margin: 1em auto .5em;
}

/*.public_page section {
    text-align: center;
}

.public_page table {
    margin:1em auto;
}

.public_page form {
    text-align: center;
}*/

.public_page .exemple {
    margin-top:0;
}

.public_page #user {
    position: absolute;
    top:.4em;
    right:.4em;
    display:inline-block;

}
.public_page #userlink {
    color: #666666;
    padding: .2em .2em .2em 25px;
    display: inline-block;
}

.public_page #user a:hover {
    color: #eea423;
}

.public_page #logout_10 {
    margin: 0 0 .2em;
}

nav#plang_selector {
    background: #fff;
    text-align: left;
    z-index: 100;
}

nav#plang_selector > ul {
    margin: 0;
    padding: 0;
    background: white;
}

#plang_selector li {
    margin:0.5em 0;
    list-style-type:none;
}

#plang_selector li a:hover{
    background-color: #DDDDFF;
    text-decoration:underline;
}

nav#plang_selector a {
    color: #666666;
    display: block!important;
}
nav#plang_selector > a {
    padding: .1em .3em;
}
#menu nav#plang_selector > a {
    border-bottom:1px #DDDDFF solid;
}

nav#plang_selector.onhover > ul {
    display: none;
}

nav#plang_selector.onhover:hover > ul {
    display: block;
}

.public_page #plang_selector {
    position: absolute;
    left: .4em;
    top: .4em;
}

/* =/ Public pages */

/*
 * == Plugins installation
 */

#plugin_install {
    background: #DDDDFF;
    border-radius: 6px;
    padding: 1em;
}

#plugin_install footer {
    margin:.5em 0 0;
    padding: .1em .5em;
    text-align: center;
    font-size: 0.85em;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#plugin_install footer p{
    margin:.5em .5em 0;
    color: #666666;
    font-size: 1.2em;
    font-weight:bold;
}

#plugin_install footer ol{
    color:#999;
    padding:0;
    margin:0 0.5em 0.5em 0.5em;
    list-style-type:none;
}
#plugin_install footer li{
    line-height:1.7em;
    display:inline;
    margin: .1em;
    padding: 0;
}

#plugin_install footer .current{
    color:black;
    font-weight:bold;
}

#btn_box{
    text-align: right;
    margin:0;
}

#plugin_install > div {
    padding: .2em;
    background-color: white;
    border-radius: 6px;
}

#plugin_install h2{
    margin: .5em 0 0;
    font-size:1.2em;
    text-align: center;
}

#installation_mode {
    display: table;
    table-layout: fixed;
    border-spacing: .5em;
    border-collapse: separate;
}

.installation_mode {
    display: table-cell;
    width: 10%;
    border-radius: 6px;
    -moz-box-shadow: 0px 1px 2px #555;
    -webkitbox-shadow: 0px 1px 2px #555;
    box-shadow: 0px 1px 2px #555;
}

#plugin_install h3 {
    font-size: 1.1em;
    margin: .2em 0 0;
    color: #666666;
    text-align: center;
}

#plugin_install ul {
    margin: 0 auto .7em!important;
}

ul.leaders {
    display: block!important;
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    overflow: hidden;
}

ul.leaders li {
    position: relative;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white
}

ul.leaders span + span {
    padding-left: 0.33em;
    position: absolute;
    background: white;
    right: 0;
}

/* =/ Plugins installation */

/*
 * == End
 */

/** OLD STYLES */
input.submit
{
    display:block;
    background-color: #FBFBFB;
    font-weight: bold;
    color: #666666;
    border: 1px solid #BBBBBB;
    margin: 0.5em auto 0 auto;
}

input.submit:hover
{
    color: #FF0000;
}

.pagelink {
    font-weight: bold;
}

#titre, #plugin_install h1{
    font-size:1.3em;
    line-height:1.7em;
    background-color:#DDDDFF;
    margin:0 1em 0em 1em;
    color: #666;
    text-align:center;
    position:relative;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.self_subscribe{
    margin-top:0.5em!important;
}

.titre {
    font-size:1.3em;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #FBFBFB;
    border-color: #BBBBBB;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #000000;
    width: 100%;
}

.soustitre {
    font-size:1.2em;
    text-align: left;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #FBFBFB;
    border-color: #BBBBBB;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #000000;
    width: 100%;
}

table.listing th, li.listing {
    background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png) repeat-x scroll 50% 50%;
    color: #212121;
    white-space: nowrap;
    font-weight: normal;
    font-weight: bold;
    margin-top: .3em;
    padding: .1em .5em;
    vertical-align: middle;
}

table.listing .row-title {
    display: none;
}

.bgfree {
    background: none!important;
}

.id_row,
th.small_head{
    width:1%;
}
.username_row{
    width:25%;
}
.actions_row{
    width:1%;
    white-space: nowrap;
}

.date_row{
    width:6em;
}

table.listing th a,
a.listing {
    color: #212121;
    vertical-align: middle;
}

table.listing td {
    line-height:1.5em;
    margin-top:.3em;
    padding:.1em .2em;
    vertical-align: middle;
}

table.listing th a:hover,
a.listing:hover {
    color: #666!important;
}

.emptylist {
    background-color: #EEEEEE;
    text-align: center;
    font-style: italic;
}

.actif {
}

.inactif, .inactive {
    color: #777777;
    font-style: italic;
}

.acronyme {
    color: #AAAAAA;
    font-style: italic;
}

.note {
    margin:0;
}

.exemple, .disabled, .disabled a {
    color: #999999;
}

#logo {
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0;
}

#main_logo{
    text-align: center;
    margin-top:0.5em;
}

.nav1 {
    width: 13em;
    margin-left:0.3em;
    border-color: #7777FF;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.5em;
    padding:0;
}

.nav1 h1 {
    margin: 2px;
    font-size:1em;
    background-color: #CDCDFF;
    padding-left: 0.2em;
}

.nav1 ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

.nav1 li {
    background-color: #EEEEEE;
    margin-bottom: 2px;
    padding-left: 2px;
}

#logout {
    text-align: center;
    margin:0 0 .7em;
}

#legende {
    border: 1px #7777FF solid;
    width:40%;
    margin-left:0.3em;
    margin-bottom:0.7em;
}

#legende table {
    width: 100%;
}

#legende h1 {
    margin: 2px;
    font-size:1em;
    background-color: #CDCDFF;
    padding-left: 0.2em;
    text-align: left;
}

#legende th{
    text-align:center;
    width:18px;
}
#legende td, #legende th {
    padding-left: 2px;
}

.ui-dialog > #legende {
    border:none;
    margin:0;
}

.color-sample {
    border-color: #AAAAAA;
    border-width: 1px;
    border-style: solid;
}

#content {
    margin-left:17em;
    margin-top: .4em;
    padding: 0 .5em .5em;
    position: relative;
    min-height: 100vh;
}

#full_content {
    padding:0 0.5em;
}

#listing,
table.listing {
    width: 100%;
}

#listing.single,
table.listing.single {
    display: table;
}

#listfilter form {
    margin-bottom: 0px;
}

.infoline{
    vertical-align: top;
    width: 100%;
    margin-bottom: 1em;
}

.infoline td {
    vertical-align: bottom;
    width: 33%;
}

.infoline ul {
    margin: 0px;
    list-style-type: none;
}

.infoline2 {
    margin-top: 2px;
}

.mailing,
#selected_members,
#selected_groups {
    width: 60%;
    margin:0 auto;
    min-width: 60em;
    background-repeat: no-repeat;
    background-position: center 1.5em;
    padding-bottom: .3em;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 1px 1px 12px #555;
    -webkitbox-shadow: 1px 1px 12px #555;
    box-shadow: 1px 1px 12px #555;
}

#desktop header,
#news header,
#share header,
.plugin header,
.mailing header,
#selected_members header,
#selected_groups header,
#groups_list header,
#group_infos header {
    padding: .2em 0;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.mailing section {
    padding-top:1em;
}
.mailing section:first-child {
    padding-top:0em;
}

.mailing_write > div,
.mailing_preview,
.mailing_attachments div{
    margin:.5em 1em;
}

.mailing_infos header{
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.mailing_infos p{
    width: 50%;
    display: table-cell;
    padding: .5em;
    vertical-align: middle;
    text-align: right;
}

.mailing_infos p:nth-child(2){
    text-align: left;
}

#mailing_objet, #mailing_corps{
    width:99%;
}

.ajax_mailing_preview header {
    padding:.2em 0;
    font-weight: bold!important;
    text-align: center;
}

#mailing_header dt,
#mailing_header dd {
    display: inline-block;
    padding:.2em .5em;
    margin:0;
}
#mailing_header dt {
    font-weight: bold;
    width: 18%;
}
#mailing_header dd {
    width: 80%;
}

#errorbox, .errorbox {
    text-align:center;
    color:black;
    border : 2px solid #c00;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/error.png) no-repeat 5px 50%;
    /*width: 80%;*/
    margin:0 auto 0.8em auto;
}

#errorbox h1 {
    font-size:1em;
    font-weight: bold;
    margin: 0;
}

#errorbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#warningbox, .warningbox {
    text-align:center;
    color:black;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/warning.png) no-repeat 5px 50%;
    /*width: 80%;*/
    margin:0 auto 0.8em auto;
    display:block;
    border:2px solid #FFB619;
}

#warningbox h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#warningbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#infobox, #successbox, #renewbox {
    text-align:center;
    color:black;
    border : 2px solid #04CC65;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/ok.png) no-repeat 5px 50%;
    /*width: 80%;*/
    margin:0 auto 0.8em auto;
}

#renewbox {
    width: 40em;
    position: absolute;
    top: 0;
    right: 10px;
    background : white url(images/desktop/telemetry.png) no-repeat 5px 50%;
    padding-left: 50px;
}

#infobox h1 {
    font-size:1em;
    font-weight: bold;
    margin: 0;
}

#infobox ul,
#successbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#input-table{
    margin:0.5em 1em;
    background-color:white;
}

#input-table .libelle {
    font-size: 11px;
    text-align: left;
    background-color: #DDDDFF;
    font-weight: normal;
}

#input-table .header {
    text-align: left;
    font-weight: bold;
}

#input-table tr:hover {
    background-color: #EEEEEE;
}

#tables_list{
    width:25em;
    margin-left:auto;
    margin-right:auto;
}

#listing td,
table.listing td,
#listing input,
table.listing input{
    vertical-align: middle;
}

td img, a img {
    vertical-align: middle;
    max-width: none;
}

.sql_log {
    border:1px dashed;
    display:block;
    margin:.2em .5em .5em;
    padding:.2em .3em;
    font-family: monospace;
    font-size:1.2em;
    background-color: rgba(221,221,255,0.5);
}

.mail_preview {
    height: 230px;
    vertical-align: top;
    padding: 5px;
}

.mailing_write p {
    display:block!important;
}

#mail_preview div:nth-child(2) {
    max-height: 20em;
    overflow: auto;
}

.button-container
{
    text-align: center;
}

.bigtable
{
    text-align: center;
}
.bigtable table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BBBBBB;
}
.bigtable th
{
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    background-color: #DDDDFF;
    padding: 0px 5px 0px 5px;
}
.bigtable td
{
    background-color: #EEEEEE;
    padding: 0px 5px 0px 5px;
    text-align: left;
}
.bigtable .separator
{
    padding:.3em 0 .1em;
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.bigtable .subtitle
{
    color:#0C0CC0;
    padding: 1em 5px 0.5em 5px;
    font-weight:bold;
    border-top:1px solid;
}

:not(.selectize-input).required{
    color:#FF0000;
    font-weight:bold;
}

/** Accessibility **/
fieldset{
    border: 1px solid #BBBBBB;
    margin:0 1em 1em;
    text-align:left;
    position:relative;
    padding:.5em;
}
fieldset.large{
    margin:0 1% 1em 1%;
    clear:right;
}
fieldset ul, ul.notype{
    list-style-type:none;
    margin:0;
    padding:0;
}
fieldset li{
    margin:0.1em 0;
    clear:left;
}

/*legend {
    border: 1px solid #BBBBBB;
    font-weight:bold;
    padding:0.3em;
    width:97%;
    margin-left:1%;
    margin-bottom: 1em;
    background-color:white;
}*/

.cssform, .galette_form { background-color:white; }
.cssform ul, .galette_form ul {
    /*display: inline-block;*/
    padding:0;
}
.cssform li, .galette_form li {
    clear:none;
}
.cssform p, .cssform div.p,
.galette_form p, .galette_form div.p {
    clear: left;
    margin: 0;
    padding: 5px 0;
    padding-left: 22em; /*width of left column containing the label elements plus 1*/
    border-top: 1px dashed gray;
    height: 1%;
}

/* no border on the first 'p' child */
.cssform p:nth-child(2), #addfield p:first-child, .cssform legend+p/*, .cssform div.p:nth-child(2), .cssform div p:nth-child(1)*/
.galette_form p:nth-child(2), .galette_form+p, .galette_form legend+p {
    border-top:none;
}
/* If there is a div, the preceding rules does not apply to the correct element :( */
.cssform div p:nth-child(2),
.galette_form div p:nth-child(2) {
    border-top:1px dashed gray;
}
/* But w do not whant border on the first element thought :) */
.cssform div p:nth-child(1),
.galette_form div p:nth-child(1) {
    border-top:none;
}

.cssform p.exemple {
    border: none!important;
}

.cssform p.notform{
    padding-left:0;
    border:none;
    height:auto;
}

.galette_form legend {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: url("jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png") repeat-x scroll 50% 50% #FFB619;
    border: 1px solid #AAAAAA;
    color: #212121;
    font-weight: normal;
}

.bline,
.galette_form label {
    font-weight: bold;
    background-color: #DDDDFF;
    padding:0.1em 0.3em;
    margin-bottom:1em;
    display:block;
    vertical-align:top;
    padding:3px;
}

th.bline, td.bline{
    font-weight: bold;
    background-color: #DDDDFF;
    padding:0.1em 0.3em;
    margin-bottom:0;
    display:block;
    text-align:left;
}

.cssform .bline, .galette_form label, .galette_form .bline {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 -22em;
    width: 19.9em;
}

#rights .bline, #rights.galette_form label, #rights.galette_form .bline {
    margin: 0 0 0 -22em;
    width: 30em;
}

.galette_form .radios label,
.galette_form label.labelalign {
    width: auto;
    background: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

label.simplelabel {
    margin: 0;
    display: inline;
    width: auto;
    vertical-align: baseline;
    background: inherit;
    font-weight: inherit;
}

.galette_form textarea,
.cssform textarea{
    width:90%;
    height: 150px;
    padding-right: 8px;
}

.cssform .ui-button-text-only .ui-button-text {
    padding: .1em 1em;
}

.galette_form img.mdp_img {
    vertical-align: top;
}

.logo{
    margin:0.3em 0;
}

/*.menu{
    margin:0.7em 0 0 0;
    padding:0;
    text-align:right;
    font-weight:bold;
}
.menu li{
    margin:0.5em 0;
    list-style-type:none;
}
.menu a{
    color: #666666;
    padding:0.3em 20px 0.3em 0;
}*/

/*.inline{ display:inline!important; }*/

.nowrap{ white-space:nowrap; }

.m_subscribe{
    position:absolute;
    right:.5em;
    top:.5em;
    margin:0;
}

.fleft{float:left;}
.fright{float:right;}
.clear{clear: both;}
.cright{clear: right;}

/*input.large, span.large {
    width:90%!important;
}*/

.picker{
    padding:0 1em;
}

/*** Voir adhérent ***/
.details{
    width:85%;
    margin-bottom:1em;
    border-top: none!important;
}

.details caption{
    font-weight:bold;
    font-size:1.1em;
    padding:.3em;
}
.details th{
    width:15em;
    font-weight:bold;
    vertical-align:middle;
    padding:0.2em 0.1em;
}

td.photo img{
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dndhover {
    opacity:0.4;
}

#details_menu{
    padding:0;
    text-align:center;
    list-style-type: none;
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}
#details_menu li {
    margin-bottom:.5em;
}

#details_menu li a {
    height: calc(100% - 32px);
    width: 100%;
}

/*** /Voir adhérent ***/

/*** Onglets ***/
.tabbed {
    display: inline-block;
    width: 100%;
}

.tabbed > div {
    margin-bottom: 1em;
}

.tabbed fieldset {
    margin: 0;
    padding: 0!important;
    border: none;
}

/*.tabbed legend, .tabbed h3 {
    border: none;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}*/

#tabs > div {
    margin: 0;
    padding: 0;
}
/*** /Onglets ***/

/*** Tooltips ***/
#tooltip {
    position: absolute;
    z-index: 3000;
    background-color: white;
    padding: 5px;
    opacity: 0.95;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 12px #555;
    -webkitbox-shadow: 1px 1px 12px #555;
    box-shadow: 1px 1px 12px #555;

}
#tooltip h3, #tooltip div { margin: 0; }

.tt{
    width:20em;
}

.galette_form label > i, label.bline > i, span.bline > i {
    float: right;
    font-size: 1.1em;
    color: rgba(0, 0, 255, .5);
}

label:hover > i, span.bline:hover > i {
    color: rgba(0, 0, 255, 1);
}

/*** /Tooltips ***/

/*.trombino{
    margin:.5em 0 0 .5em;
    background-color: #DDDDFF;
    padding-bottom:.2em;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    width:240px;
    height:240px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.trombino img{
    margin:.5em .5em 0 .5em;
}

.trombinoscope {
    text-align: center;
}*/

.tbl_line_even,
.even > td {
    background-color: #EEEEEE!important;
    vertical-align: top;
}

.tbl_line_odd,
.odd > td {
    background-color: #E2E5EE!important;
    vertical-align: top;
}

.cssform > .fields_list {
    display: block;
}
.fields_list li{
    line-height:1.5em;
    margin-top:.3em;
    padding:.1em .2em;
    vertical-align: middle;
    cursor: move;
}

.yesno > input, .yesnoadmin > input {
    margin: 0.2em;
    vertical-align: bottom;
}

.fields_list label {
    padding:0 .5em 0 .1em;
}

.listing tr:hover td,
.fields_list li:hover,
.odd:hover > td,
.even:hover > td {
    background-color: #DDDDFF!important;
}

.listing tfoot tr:hover td, tr.checkboxes:hover td {
    background-color: transparent!important;
}

.fields_list span.label{
    display:inline-block;
    width: 33%;
}

.fields_list span.yesno{
    margin-right:.2em;
    display:inline-block;
    text-align:center;
    width: 18%;
}
.fields_list span.access{
    margin-right:.2em;
    min-width:25em;
    width:33%;
    display:inline-block;
    text-align:center;
}

.fields_list .selectize-input {
    min-width: auto;
}

#listed_fields, #remaining_fields {
    min-width: 39em;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

#add_category{
    float:right;
}

/*#expand, #collapse{
    padding: 0.4em 1em;
    position:relative;
}

#expand span.ui-icon, #collapse span.ui-icon{
    float:left;
    margin-right: .2em;
}*/

.collapsible{
    float:left;
}

.ui-datepicker-trigger{
    cursor:pointer;
    vertical-align: middle;
    border:none;
    background:none;
}

/** PAGINATION */
.pages .current a{
    color:#FFB619;
    font-weight:bold;
}
.pages{
    text-align:center;
    margin:.2em 0 0 0;
    padding:0;
}
.pages a{
    padding:0 3px;
}
.pages a:hover{
    background-color:#EEEEEE;
    color:black;
}
.pages li{
    display:inline;
    padding:0;
    margin:0;
}
/** /PAGINATION*/

.notup2date {
    margin-top: 5em;
}

.notup2date #errorbox {
    width: 30em;
}

#oldie {
    /*position: absolute;
    top: 0;*/
    background-color: red;
    text-align: center;
    font-weight: bold;
}

#oldie p {
    margin: 0;
}

#member_stateofdue {
    margin: 0 auto .5em;
    width: 85%;
    padding: .1em 0;
    border-radius: 6px;
    text-align: center;
}

.warnings {
    background-image: url(images/icon-warning.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.jqplot-target {
    display: inline-block;
}

#ContribsAllTime {
    width: 800px;
}

.error {
    max-width: 100em;
    margin: 0 auto;
}

.vtop {
    vertical-align: top!important;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /*margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;*/

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow}
meter[value="4"]::-moz-meter-bar { background: green ; }

.password-strength-text {
    vertical-align: middle;
    padding-left: .2em;
}

.selectize-control.single .selectize-input::after {
    right: 10px!important;
}

[class^="nav-button"] {
    display: none;
}

/** Mobile devices */
@media (max-width: 767px) {

    /* passer tous les éléments de largeur fixe en largeur automatique */
    body {
        width: auto !important;
        margin: auto !important;
        padding: .4em 0 0;
    }

    #details_menu, #member_stateofdue, .details {
        width: 100%;
    }

    /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
    table, td, blockquote, code, pre, textarea, input, object, embed, video {
        max-width: 100% !important;
    }

    /* gestion des mots longs */
    textarea, code, pre, samp {
        word-wrap: break-word; /* césure forcée */
        white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    .menu {
      text-align:center;
    }

    #main_logo {
        position:relative;
        top:0;
        right:0;
    }

    #titre, #listfilter {
        margin-left: 0;
        margin-right: 0;
    }

    /** Responsive menu */
    #menu {
        float: none;
        position: absolute;
        min-height: 100vh;
    }

    #content {
        padding-top: 0;
        margin: 0;
        background-color: white;
        transform: translateX(0) translateZ(0);
        transition: transform .2s;
        will-change: transform;
        min-height: 100vh;
    }

    /* Button deco */
    [class^="nav-button"] {
        display: block;
        cursor: pointer;
        float:left;
        margin-top: .2em;
        margin-left: .3em;
    }

    /* here's goes the push left effect */
    body:target #content {
        /* same as #content margin-left */
        transform: translateX(17em);
    }
    #menu {
        display: none;
    }
    body:target #menu {
        display: block;
    }
    .nav-button-close,
    body:target .nav-button-open {
        display: none;
    }
    .nav-button-open,
    body:target .nav-button-close {
        display: block;
    }

    /** Dashboard */
    #desktop, #news, #share {
        width: 100%;
        min-width: inherit;
    }

    /** Forms */
    .cssform p, .cssform div.p,
    .galette_form p, .galette_form div.p {
        padding-left: 0;
    }

    .cssform .bline, .galette_form label, .galette_form .bline, #rights .bline {
        margin-left: 0;
        margin-bottom: .2em;
        padding-right: 0;
        display: block;
        width: auto;
    }

    fieldset, fieldset.large {
        margin-left: 0;
        margin-right: 0;
    }

    .galette_form textarea,
    .cssform textarea{
        width: 100%;
        height: 5em;
    }

    /** Tables */
    table.listing {
        width: 100%;
    }

    table.listing thead {
        /* Accessibly hide <thead> on narrow viewports */
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

     /* Set these items to display: block for narrow viewports */
    table.listing tbody,
    table.listing tr,
    table.listing th,
    table.listing td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }

    table.listing.same tr, tr.same {
        display: table-row;
    }

    table.listing.same td, tr.same td {
        display: table-cell;
        width: 100%;
    }

    table.listing td {
        margin: 0;
    }

    table.listing tr {
        margin-bottom: .5em;
    }

    table.listing td[data-scope="id"] {
        float: left;
        background: none!important;
        color: #212121;
        margin: .5em .2em 0 .2em;
    }

    table.listing td[data-scope="row"] {
        background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png) repeat-x scroll 50% 50%;
        color: #212121;
        font-weight: bold;
        margin-top: .3em;
        padding: .5em .2em;
        vertical-align: middle;
        text-align: left;
    }

    table.listing td[data-scope="row"] a {
        color: #212121;
        vertical-align: middle;
    }


    table.listing td[data-scope="row"] a:hover {
        color: #666!important;
    }

    table.listing td[data-scope="row"] input[type=checkbox],
    table.listing td[data-scope="row"] img {
        float: right;
    }

    table.listing td.center {
        text-align: left!important;
    }

    span[data-title]:before,
    td[data-title]:before {
      content: attr(data-title);
      display: inline-block;
      width: 10em;
      font-weight: bold;
    }

    table.listing img[src$="icon-empty.png"] {
        display: none;
    }

    table.listing .actions_row,
    table.listing .username_row {
        width: auto;
    }

    table.listing td.actions_row {
        text-align: center!important;
    }

    table.listing .row-title {
        display: inline;
    }

    li.listing {
        display: none;
    }

    .tbl_line_even span.label,
    .tbl_line_odd span.label,
    .tbl_line_even span.yesno,
    .tbl_line_odd span.yesno,
    .tbl_line_even span.yesnoadmin,
    .tbl_line_odd span.yesnoadmin {
        display: block;
        width: auto;
        text-align: left;
    }

    #renewbox {
        width: auto;
        position: initial;
    }

    #details_menu li {
        width: 8em;
    }
}
@media screen and (max-width:767px) and (orientation: landscape) {
    body {
        -webkit-text-size-adjust: 70%;
    }
}
