html {
  font-size: 14px;
}

body {
  font-size: 1rem;
}

body.pushable {
  background: #636b70;
}

body.front-page .ui.ui.ui.container:not(.fluid) {
  width: 600px;
}

body.front-page .ui.message {
  text-align: center;
}

.ui.bg-color {
  background-color: #ddddff;
}

.ui.link.menu .item.is-staff,
.ui.menu .dropdown.item.is-staff,
.ui.menu .link.item.is-staff,
.ui.menu a.item.is-staff {
  background-color: #63d47c;  
}

.ui.link.menu .item.is-staff:hover,
.ui.menu .dropdown.item.is-staff:hover,
.ui.menu .link.item.is-staff:hover,
.ui.menu a.item.is-staff:hover {
  background-color: #59c271;
}

.ui.link.menu .item.is-admin,
.ui.menu .dropdown.item.is-admin,
.ui.menu .link.item.is-admin,
.ui.menu a.item.is-admin {
  background-color: #fb8d7e;  
}

.ui.link.menu .item.is-admin:hover,
.ui.menu .dropdown.item.is-admin:hover,
.ui.menu .link.item.is-admin:hover,
.ui.menu a.item.is-admin:hover {
  background-color: #ec8476;
}

.ui.pointing.menu.bg-color .item.active,
.ui.pointing.menu.bg-color .active.item::after {
  background-color: #d3d3f5;
}

#top-navbar.ui.menu {
  border: 0;
  border-radius: 0;
  min-height: 3.5rem;
}

#top-navbar.ui.menu .item img.logo {
  margin-right: 1.5rem;
  max-height: 2.5rem;
  width: auto;
}

#top-navbar div.item a.button:not(:first-child) {
  margin-left: .5rem;
}

#top-navbar.ui.menu .item.tray .ui.label > .icon,
#top-navbar.ui.menu .item.tray > .label:not(.floating) {
  margin: 0;
}

a.ui.button i.icon,
a.ui.button:hover i.icon {
  color: inherit;
}

.ui.menu .header.item {
  text-align: left;
  font-weight: 700;
}

.ui.menu .dropdown.right-aligned.item .menu {
  right: 0;
  left: auto;
}
.ui.menu .ui.dropdown.language .menu > .item {
  text-transform: capitalize !important;
}

.language span {
  text-transform: uppercase;
}

.ui.fixed.menu + .pusher {
  padding-top: 4.5rem;
}

.ui.grid > aside.column:not(.row) {
  background-color: #f8ebd2;
  padding-bottom: 2rem;
}

.password-lost {
  color: rgb(102, 102, 102);
  font-size: .9rem;
  margin: .5rem 0 1rem;
  display: inline-block;
}

.password-lost:hover {
  color: #000;
}

aside .ui.vertical.menu {
  width: auto;
  max-width: 100%;
}

.ui.dropdown .item.button,
.ui.vertical.menu .item.button {
  border: 1px solid #d3d3d3;
  margin: .2rem 0;
}

.ui .fields:first-child:last-child {
  margin-bottom: 0;
}

#filtre .fields .fields {
  margin: 0;
}

#filtre .fields .field.flexend {
  display: flex;
  align-items: end;
}

.ui.list .label > a.tooltip {
  opacity: 1;
  padding-right: .4rem;
}

.ui.list .label a.tooltip i {
  color: #fff;
}
.ui.list .label a.tooltip:hover i {
  color: #000;
}

footer,
footer .ui.horizontal.list .list > .item,
footer .ui.horizontal.list > .item{
  font-size: .95rem;
}

@media only screen and (max-width: 767px) {
  .sidebar.uncover + .fixed.menu .toc i::before {
    content: '\f00d';
  }
  #top-navbar.ui.menu .item img.logo {
    margin-right: 1rem;
  }
  .ui.menu .header.item {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
@media only screen and (min-width: 768px) {
  .fields_list span{
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .ui.top.menu:not(.vertical) .item:not(.header):not(.toc),
  .main .column:first-child {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .ui.top.menu:not(.vertical) .item.header,
  .ui.top.menu:not(.vertical) .item.toc {
    display: none;
  }
}
