body,
body.pushable {
  background: #fff;
}

.ui.fixed.menu + .pusher {
  padding-top: 0;
}

.screen-only,
#top-navbar,
aside.toc,
#recup_mailing,
#filtre .segment:not(.compact):not(.center),
#filtre .segment.compact .tooltip,
#filtre .segment.compact .list .item,
.ui.horizontal.checkboxes.segments,
table input[type=checkbox],
.actions_row,
.ui.pagination.menu,
section.content > footer,
#back2top {
  display: none;
}
