header, footer, nav {
    display: block;
}

#desktop #transactions,
#desktop #members,
#desktop #groups,
#desktop #contribs,
#desktop #mailings,
#desktop #prefs,
#desktop #plugins,
#desktop #reminder,
#delete,
#subscribe,
#lostpassword,
#btn_lostpassword,
#memberslist,
#trombino,
#backhome,
#logout,
#btnadd,
#btnadd_small,
#btncancel,
#btnsave,
#btnvalid,
#btnback,
#btnvalid,
#btnpreview,
#btnsend,
#btnusers,
#btnusers_small,
#btnmanagers, #btnmanagers_small,
#btngroups, #btnmanagedgroups,
#histreset,
#next,
#installpage input[type="submit"],
#prev,
#btnlabels,
#btn_membercard,
#btn_edit,
#btn_contrib,
#btn_addcontrib {
    background-image: url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
    position: relative;
}

input#btnsave, input#delete, input#sendmail, input#btnadd {
    padding-left: 1em!important;
}

#desktop #transactions:hover,
#desktop #members:hover,
#desktop #groups:hover,
#desktop #contribs:hover,
#desktop #mailings:hover,
#desktop #prefs:hover,
#desktop #plugins:hover,
#desktop #reminder:hover,
#delete.ui-state-hover,
#subscribe.ui-state-hover,
#lostpassword.ui-state-hover,
#btn_lostpassword.ui-state-hover,
#memberslist.ui-state-hover,
#trombino.ui-state-hover,
#backhome.ui-state-hover,
#logout.ui-state-hover,
#btnadd.ui-state-hover,
#btnadd_small.ui-state-hover,
#btncancel.ui-state-hover,
#btnsave.ui-state-hover,
#btnvalid.ui-state-hover,
#btnback.ui-state-hover,
#btnpreview.ui-state-hover,
#btnsend.ui-state-hover,
#btnusers.ui-state-hover,
#btnusers_small.ui-state-hover,
#btnmanagers.ui-state-hover,
#btnmanagers_small.ui-state-hover,
#btngroups.ui-state-hover,
#btnmanagedgroups.ui-state-hover,
#histreset.ui-state-hover,
#next.ui-state-hover,
#installpage input[type="submit"]:hover,
#prev.ui-state-hover,
#btnlabels.ui-state-hover,
#btn_membercard.ui-state-hover,
#btn_edit.ui-state-hover,
#btn_contrib.ui-state-hover,
#btn_addcontrib.ui-state-hover {
    background-image: url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

.button.notext span {
    display: inline-block;
}
.button.notext > span {
    text-indent: 5000px;
    overflow: hidden;
}

.secondimg {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

#details_menu .secondimg {
    background-position: 50% 10px;
}

#desktop .secondimg {
    background-position: 50% .5em;
}
#desktop #transactions .secondimg {
    background-image: url(images/desktop/transactions.png);
}

#desktop #members .secondimg {
    background-image: url(images/desktop/members.png);
}

#desktop #groups .secondimg {
    background-image: url(images/desktop/groups.png);
}

#desktop #contribs .secondimg {
    background-image: url(images/desktop/contribs.png);
}

#desktop #mailings .secondimg {
    background-image: url(images/desktop/mailing.png);
}

#desktop #prefs .secondimg {
    background-image: url(images/desktop/preferences.png);
}

#desktop #plugins .secondimg {
    background-image: url(images/desktop/plugins.png);
}

#desktop #reminder .secondimg {
    background-image: url(images/desktop/reminders.png);
}

#superadmin {
    background-color: #eb8599;
}

#delete .secondimg{
    background-image: url(images/icon-trash.png);
}

#subscribe .secondimg {
    background-image:url(images/subscribe.png);
}

#lostpassword .secondimg, #btn_lostpassword .secondimg {
    background-image:url(images/icon-lost_pass.png);
}

#memberslist .secondimg {
    background-image:url(images/members-list.png);
}

#trombino .secondimg {
    background-image:url(images/trombino.png);
}

#backhome .secondimg {
    background-image:url(images/home.png);
}

#logout .secondimg {
    background-image:url(images/icon-quit.png);
}

#btnadd .secondimg, #btnadd_small .secondimg {
    background-image:url(images/icon-add.png);
}

#btncancel .secondimg {
    background-image:url(images/icon-cancel.png);
}

#btnsave .secondimg {
    background-image:url(images/icon-save.png);
}

#btnvalid .secondimg {
    background-image:url(images/icon-valid.png);
}

#btnback .secondimg {
    background-image:url(images/prev.png);
}

#btnpreview .secondimg {
    background-image:url(images/icon-preview.png);
}

#btnsend .secondimg {
    background-image:url(images/icon-mail-send.png);
}

#btnusers .secondimg, #btnusers_small .secondimg {
    background-image:url(images/icon-user.png);
}

#btnmanagers .secondimg, #btnmanagers_small .secondimg {
    background-image:url(images/icon-star.png);
}

#btngroups .secondimg, #btnmanagedgroups .secondimg {
    background-image:url(images/icon-user.png);
}

#histreset .secondimg {
    background-image:url(images/delete.png);
}

#next .secondimg {
    background-image:url(images/next.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

#prev .secondimg {
    background-image:url(images/prev.png);
}

#btnlabels .secondimg {
    background-image:url(images/printer.png);
}

#btn_membercard .secondimg {
    background-image:url(images/member_card.png);
}

#btn_edit .secondimg {
    background-image:url(images/edit.png);
}

#btn_contrib .secondimg {
    background-image:url(images/contribution.png);
}

#btn_addcontrib .secondimg {
    background-image:url(images/add_contribution.png);
}

