/*** Installation pages ***/

body > section {
    width: 50%;
    min-width: 650px;
    /*text-align:center;*/
    margin:1em auto;
    position:relative;
    background-color: #DDDDFF;
    border-radius: 6px;
    padding: 1em;
}

header img {
    vertical-align: middle;
    margin-bottom: .2em;
}

#langs {
    position: absolute;
    right: .2em;
    top: .2em;
}

p {
    margin: .5em 0 .3em;
    text-align: center;
}

section > div {
    padding: .2em;
    background-color: white;
    border-radius: 6px;
}

section h2{
    margin: .5em 0 0;
    font-size:1.2em;
    text-align: center;
}

section h3 {
    font-size: 1.1em;
    margin: .2em 0 0;
    color: #666666;
    text-align: center;
}

section ul {
    margin: 0 auto .7em!important;
}

#logout {
    padding-right: 1.8em;;
    background-position: 96% 50%, 50% 50%;
    background-repeat: no-repeat, repeat-x;
}
#next_btn {
    padding-right: 1.8em;;
    background-image: url(images/next.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
    background-position: 96% 50%, 50% 50%;
    background-repeat: no-repeat, repeat-x;
}

#next_btn:hover {
    background-image: url(images/next.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#retry_btn {
    padding-left: 1.8em;;
    background-image: url(images/icon-refresh.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
    background-position: .4em 50%, 50% 50%;
    background-repeat: no-repeat, repeat-x;
}

#retry_btn:hover {
    background-image: url(images/icon-refresh.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}


#btn_box{
    text-align: right;
    margin:0;
}

section ul.list{
    margin:0 auto;
    width:35em!important;
    text-align:left;
    list-style-type:none;
}

ul#paths{
    width:15em!important;
}

#warningbox{
    text-align:center;
    color:black;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/warning.png) no-repeat 5px 50%;
    width: 80%;
    margin:0 auto 0.8em auto;
    display:block;
}

.titreinstall {
    font-size:1.3em;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #FBFBFB;
    border-color: #BBBBBB;
    color: #000000;
    left: 0px;
    right: 0px;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

footer {
    margin:.5em 0 0;
    padding: .1em .5em;
    text-align: center;
    font-size: 0.85em;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

footer p{
    margin:.5em .5em 0;
    color: #666666;
    font-size: 1.2em;
    font-weight:bold;
}

footer ol{
    color:#999;
    padding:0;
    margin:0 0.5em 0.5em 0.5em;
    list-style-type:none;
}
footer li{
    line-height:1.7em;
    display:inline;
    margin: .1em;
    padding: 0;
}

footer .current{
    color:black;
    font-weight:bold;
}

.install-ok header {
    background: url(images/ok.png) 0 50% no-repeat;
}

.install-bad header {
    background: url(images/error.png) 0 50% no-repeat;
    background-color:#FF8A8A;
}

li.install-ok {
    list-style-image: url("../../install/yes.png");
    list-style-position:inside;
}

li.install-bad {
    list-style-image: url("../../install/no.png");
    background-color:#FF8A8A;
    list-style-position:inside;
}

#copyright {
    display: block;
    text-align:center;
}

ul.leaders {
    display: block;
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    overflow: hidden;
}

ul.leaders li {
    position: relative;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white
}

ul.leaders span + span {
    padding-left: 0.33em;
    position: absolute;
    background: white;
    right: 0;
}

#installation_mode {
    display: table;
    table-layout: fixed;
    border-spacing: .5em;
    border-collapse: separate;
}

.installation_mode {
    display: table-cell;
    width: 10%;
    border-radius: 6px;
    -moz-box-shadow: 0px 1px 2px #555;
    -webkitbox-shadow: 0px 1px 2px #555;
    box-shadow: 0px 1px 2px #555;
}

#btnback {
    float: left;
    background-position: .4em 50%, 50% 50% !important
}
