{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% if socials|length > 0 %}
<div class="ui basic fitted segment">
    <div class="ui styled fluid accordion row">
        <div class="active title">
            <i class="jsonly displaynone icon dropdown" aria-hidden="true"></i>
            {{ _T("Social networks") }}
        </div>
        <div class="active content field">
            <table class="ui very basic definition striped stackable padded table">
    {% for social in socials %}
            <tr>
                <th class="three wide column">{{ social.getSystemType(social.type) }}</th>
                <td>{{ social.displayUrl()|raw }}</td>
            </tr>
    {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endif %}
