{% if socials|length > 0 %}
<div class="ui basic fitted segment">
    <div class="ui styled fluid accordion row">
        <div class="active title">
            <i class="jsonly displaynone icon dropdown" aria-hidden="true"></i>
            {{ _T("Social networks") }}
        </div>
        <div class="active content field">
            <table class="ui very basic striped collapsing stackable padded table">
    {% for social in socials %}
            <tr>
                <th>{{ social.getSystemType(social.type) }}</th>
                <td>{{ social.displayUrl()|raw }}</td>
            </tr>
    {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endif %}
