{% if login.isSuperAdmin() %}
    <span class="tooltip ui red icon circular label" title="{{ _T("You are actually logged-in as superadmin. Some functionnalities may not be available since this is *not* a regular member.") }}">
        <i class="shield icon" aria-hidden="true"></i>
        {{ _T("Superadmin") }}
    </span>
{% endif %}
{% if callstatic('\\Galette\\Core\\Galette', 'isDemo') %}
    <span class="tooltip ui orange icon circular label" title="{{ _T("This application runs under DEMO mode, all features may not be available.") }}">
        <i class="gamepad icon" aria-hidden="true"></i>
        {{ _T("Demonstration") }}
    </span>
{% endif %}
