<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Behavior override file examples
 *
 * @author Johan Cwiklinski <johan@x-tnd.be>
 */

/**
 * Enable debug mode
 */
//define('GALETTE_DEBUG', true);

/**
 * Your Galette instance URI, to be used from cron scripts
 */
//define('GALETTE_URI', true);

/**
 * Change mode
 *
 * Usable values are:
 * - PROD
 * - DEV
 * - MAINT (only super-admin can login)
 */
//define('GALETTE_MODE', 'DEV');

/**
 * Activate new adaptative PDF members cards
 */
//define('GALETTE_ADAPTATIVE_CARDS', true);

/* Uncomment and tune to read user IP addresses from the X-Forwarded-For header
 *
 * This is for applications sitting behind one or several proxies.
 *
 * Don't uncomment if the application doesn't sit behind a proxy, as it would
 * allow potential attackers to replace their IP addresses with anything,
 * increasing a bit their stealth (IP address don't mean that much anyway)
 *
 *  Typically each proxy will append its client's IP address to this header
 *  The value is used the index of the IP address to consider, from the end
 *  of the header values, starting with 1.
 *
 * Hence the provided example is the simplest suitable for being behind
 *  a single reverse proxy
 */
//define('GALETTE_X_FORWARDED_FOR_INDEX', 1);
