Source: galette
Section: web
Priority: optional
Maintainer: Georges Khaznadar <gekhajofour@netinfo.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: galette
Architecture: all
Depends: php4, mysql-server|postgresql, php4-mysql|php4-pgsql
Description: Yet another LUG administration system.
 Galette makes easy to manage user subscription, annual fee, etc.
 for association members. It features customization for various
 nationalities among members.
