body {
	font-family: "Cantarell", Verdana, Arial, sans-serif;
	font-size:0.85em;
	background-color:white;
	color:black;
}

/** Hidden elements */
#content > nav,
#details_menu,
#filtre,
tfoot,
footer nav,
#menu > *,
#btnadd,
#historyform,
input[type=checkbox],
.actions_row,
#copyright,
#sysinfos {
    display: none;
}

#menu > #logo {
    display: block;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
footer {
    text-align: center;
}

#copyright {
	color: #CCCCCC;
	font-style: italic;
}

#listing {
    margin: 0 auto;
}

/** CSS adaptations for print */
#content{
        margin: 0em;
}

.wrmenu {
    margin-right: 0;
}

#titre {
    background: none;
}

#member_stateofdue, .details {
    width: 100%;
}
