body {
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	background-color:white;
	color:black;
}

img{
	border:none;
}

form {
	margin: 0px;
}

input {
	padding: 0px 2px 0px 2px;
	margin-top: 1px;
	margin-bottom: 1px;
}

input.submit
{
	display:block;
	background-color: #FBFBFB;
	font-weight: bold;
	color: #666666;
	border: 1px solid #BBBBBB;
	margin: 0.5em auto 0 auto;
}

input.submit:hover
{
	color: #FF0000;
}

a {
	text-decoration: none;
	color: #0000FF;
}

a:hover {
	color: #eea423;
}

pre {
	margin: 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}
	
.center {
	text-align: center;
}

.cotis-ok {
	background-color: #DDFFDD!important;
	vertical-align: top;
}

.cotis-never {
	background-color: #EEEEEE!important;
	vertical-align: top;
}

.cotis-exempt {
	background-color: #DDFFDD!important;
	vertical-align: top;
}

.cotis-soon {
	background-color: #FFE9AB!important;
	vertical-align: top;
}
		
.cotis-late {
	background-color: #FFDDDD!important;
	vertical-align: top;
}
	
.cotis-lastday {
	background-color: #FFDDDD!important;
	vertical-align: top;
}

.cotis-normal {
	background-color: #DDFFDD!important;
	vertical-align: top;
}

.cotis-give {
	background-color: #FFDDDD!important;
	vertical-align: top;
}

.totalcount {
	text-align: left;
}

.pageswitch {
	text-align: center;
	margin-top: 4px;
}

.pagelink {
	font-weight: bold;
}

.filtermenus {
	text-align: right;
}

#titre{
	font-size:1.3em;
	line-height:1.7em;
	background-color:#DDDDFF;
	margin:0 1em 1em 1em;
	color: #666;
	text-align:center;
}
.self_subscribe{
	margin-top:0.5em!important;
}

.titre {
	font-size:1.3em;
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	background-color: #FBFBFB;
	border-color: #BBBBBB;
	margin-top: 0.5em;
	margin-bottom: 1em;
	color: #000000;
	width: 100%;
}

.soustitre {
	font-size:1.2em;
	text-align: left;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	background-color: #FBFBFB;
	border-color: #BBBBBB;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #000000;
	width: 100%;
}

th.listing, li.listing {
	background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_FFB619_1x400.png) repeat-x scroll 50% 50%;
	color: #212121;
	white-space: nowrap;
	font-weight: normal;
}
#id_row,
th.small_head{
	width:1%;
}
.username_row{
	width:25%;
}
.actions_row{
	width:1%;
}

.date_row{
	width:6em;
}

a.listing {
	color: #212121;
	font-weight: normal;
	vertical-align: middle;

}

td.listing {
	vertical-align: middle;
}

a.listing:hover {
	color: #666;
}
	
.emptylist {
	background-color: #EEEEEE;
	text-align: center;
	font-style: italic;
}
	
.actif {
}

.inactif {
	color: #777777;
	font-style: italic;
}

.acronyme {
	color: #AAAAAA;
	font-style: italic;
}

#full_content #copyright{
	clear:both;
}

#copyright {
	color: #CCCCCC;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

#copyright a {
	color: #CCCCCC;
}

#copyright a:hover {
	color: #FF0000;
}

.exemple {
	color: #999999;
}

#logo {
	text-align: center;
	font-weight: bold;
	margin: 0.5em 0;
	width: 14em;
}

#main_logo{
	z-index:10;
	position:absolute;
	right:1em;
	top:1em;
}

.nav1 {
	width: 13em;
	margin-left:0.3em;
	border-color: #7777FF;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 0.5em;
	padding:0;
}

.nav1 h1 {
	margin: 2px;
	font-size:1em;
	background-color: #CDCDFF;
	padding-left: 0.2em;
}

.nav1 ul {
	list-style-type: none;
	margin: 2px;
	padding: 0px;
	border: none;
}

.nav1 li {
	background-color: #EEEEEE;
	margin-bottom: 2px;
	padding-left: 2px;
	border:1px solid #EEEEEE; /* without this, IE6 will add spaces into menu :/ */
}
/* But we don't want any border here for others browsers*/
html > * .nav1 li{
	border:none;
}

#logout {
	text-align: center;
	margin:0.7em 0;
}

#legende {
	border: 1px #7777FF solid;
	width:40%;
	margin-left:0.3em;
	margin-bottom:0.7em;
}

#legende table {
	width: 100%;
}

#legende h1 {
	margin: 2px;
	font-size:1em;
	background-color: #CDCDFF;
	padding-left: 0.2em;
	text-align: left;
}

#legende th{
	text-align:center;
}
#legende td, #legende th {
	padding-left: 2px;
	background-color: #EEEEEE;
}
#legende td{
	width:50%;
}

.ui-dialog > #legende {
	border:none;
	margin:0;
}

.color-sample {
	border-color: #AAAAAA;
	border-width: 1px;
	border-style: solid;
}

#content {
	margin-left:15em;
	padding-right: 0.5em;
}

#full_content {
	padding:0 0.5em;
}

#listfilter {
	text-align: center;
	background-color: #DDDDFF;
	padding: 10px;
	margin:0 1em 1em 1em;
}

#listfilter form {
	margin-bottom: 0px;
}

.infoline{
	vertical-align: top;
}

/* IE6 does not handle properly 100% width */
html > * .infoline {
	width:100%;
}

.infoline td {
        vertical-align: top;
	width: 33%;
}	

.infoline ul {
	margin: 0px;
	list-style-type: none;
}

.infoline2 {
	margin-top: 2px;
}

#mailing_objet, #mailing_corps{
	width:99%;
}

#mailing_preview {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
	border-color: #DDDDDD;
	border-width: 2px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
}
	
#mailing_preview th {
	/*font-size: 10px;*/
	font-weight: bold;
	text-align: left;
	background-color: #EEEEEE;
}

#errorbox {
	text-align:center;
	color:black;
	border : 2px solid #c00;
	padding : 0.5em 0.5em 0.5em 40px;
	background : white url(images/error.png) no-repeat 5px 50%;
	width: 80%;
	margin:0 auto 0.8em auto;
}
		
#errorbox h1 {
	font-size:1em;
	font-weight: bold;
	margin: 0;
}

#errorbox ul {
	list-style-type: none;
	margin: 2px;
	padding: 0px;
	border: none;
}

#warningbox {
	text-align:center;
	color:black;
	padding : 0.5em 0.5em 0.5em 40px;
	background : white url(images/warning.png) no-repeat 5px 50%;
	width: 80%;
	margin:0 auto 0.8em auto;
	display:block;
	border:2px solid #FFB619;
}
		
#warningbox h1 {
	background-color: #FFB619;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

#warningbox ul {
	list-style-type: none;
	margin: 2px;
	padding: 0px;
	border: none;
}		

#infobox {
	text-align:center;
	color:black;
	border : 2px solid #04CC65;
	padding : 0.5em 0.5em 0.5em 40px;
	background : white url(images/ok.png) no-repeat 5px 50%;
	width: 80%;
	margin:0 auto 0.8em auto;
}
		
#infobox h1 {
	font-size:1em;
	font-weight: bold;
	margin: 0;
}

#infobox ul {
	list-style-type: none;
	margin: 2px;
	padding: 0px;
	border: none;
}

#input-table{
	margin:0.4em 0 0 0;
}

html > * #input-table{
	width:100%;
}

#input-table .libelle {
	font-size: 11px;
	text-align: left;
	background-color: #DDDDFF;
	font-weight: normal;
}

#input-table .header {
	text-align: left;
	font-weight: bold;
}

#tables_list{
	width:25em;
	margin-left:auto;
	margin-right:auto;
}

/* IE6 does not handle properly 100% width */
html > * #listing{
	width:100%;
}

#listing td {
	vertical-align: middle;
}

#listing input {
	vertical-align: middle;
}

#listing img {
        vertical-align: middle;
}

.mail_preview {
	height: 230px;
	vertical-align: top;
	padding: 5px;
}


.button-container
{
	text-align: center;
}
.button-link
{
	text-align: left;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	background-color: #FBFBFB;
	border-color: #BBBBBB;
	color: #000000;
	padding: 10px 10px 10px 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 18em;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.button-link a
{
	color: #666666;
}
.button-link a:hover
{
	color: #FF0000;
}

#backhome a{
	background:url(images/home.png) right 50% no-repeat;
}
.button-back
{
	background-image: url(images/back.png);
}

#lostpassword a{
	background:url(images/lost_pass.png) right 50% no-repeat;
}

#subscribe a{
	background:url(images/subscribe.png) right 50% no-repeat;
}
.button-subscribe
{
	background-image: url(images/add.png);
}
.button-labels
{
	background-image: url(images/labels.png);
}
.button-flush-logs
{
	background-image: url(images/delete.png);
}

#login_frm{
	margin-top:60px;
	text-align:center;
}

.login-box
{
	width: 27em;
	border: 1px solid #BBBBBB;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	text-align: center;
}

.content-box
{
	border: 1px solid #BBBBBB;
	margin-top: 10px;
	padding: 0.5em 10px 10px 10px;
}

.full-content-box
{
	margin-top: 10px;
	padding: 0.5em 10px 10px 10px;
}

.login-box h1
{
	margin: 10px 0px 15px 0px;
}

.login-box table
{
	width: 100%;
}

.flag
{
	border: 1px solid black;
}

.login-box th
{
	text-align: right;
}
.login-box input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0 2px;
}

.bigtable
{
	text-align: center;
}
.bigtable table
{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #BBBBBB;
}
.bigtable th
{
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	background-color: #DDDDFF;
	padding: 0px 5px 0px 5px;
}
.bigtable td
{
	background-color: #EEEEEE;
	padding: 0px 5px 0px 5px;
	text-align: left;
}
.bigtable .separator
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	font-weight: bold;
}
.bigtable .subtitle
{
	color:#0C0CC0;
	padding: 1em 5px 0.5em 5px;
	font-weight:bold;
	border-top:1px solid;
}

.required{
	color:#FF0000;
	font-weight:bold;
}

/** Accessibility **/
fieldset{
	border: 1px solid #BBBBBB;
	margin:0 10% 1em 10%;
	text-align:left;
}
fieldset.large{
	margin:0 1% 1em 1%;
	clear:right;
}
fieldset ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
fieldset li{
	margin:0.1em 0;
	clear:left;
}
legend{
	border: 1px solid #BBBBBB;
	font-weight:bold;
	padding:0.2em 2em 0.2em 0.3em;
	background-color:white;
	margin-bottom:0.2em;
}

.cssform{ background-color:white; }
.cssform ul{
	margin-left:1em;
	padding:0;
}
.cssform li{
	clear:none;
}
.cssform p, .cssform div.p{
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 21em; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}

.cssform p.notform{
	padding-left:0;
	border:none;
	height:auto;
}

.bline{
	font-weight: bold;
	background-color: #DDDDFF;
	padding:0.1em 0.3em;
	margin-bottom:1em;
	display:block;
}

th.bline, td.bline{
	font-weight: bold;
	background-color: #DDDDFF;
	padding:0.1em 0.3em;
	margin-bottom:0;
	display:block;
	text-align:left;
}

/* IE6 does not handle properly negative margins... */
.cssform .bline{
	float: left;
	margin: 0 0 0 -10em;
	width: 21em;
}
/* ... so we made the following not readable to it */
html > * .cssform .bline{
	margin: 0 0 0 -21em;
}


.login-box .cssform .bline{
	width:11em;
	margin: 0 0 0 -11em;
	text-align:left;
}

.login-box .cssform p{
	padding-left:11em;
}

.login-box .cssform p.exemple{
	text-align:center;
	padding:0;
}

.cssform textarea{
	width:90%;
	height: 280px;
}

.logo{
	margin:0.3em 0;
}

.menu{
	margin:0.7em 0 0 0;
	padding:0;
	text-align:right;
	font-weight:bold;
}
.menu li{
	margin:0.5em 0;
	list-style-type:none;
}
.menu a{
	color: #666666;
	padding:0.3em 20px 0.3em 0;
}
.menu a:hover{color: #FF0000;}

.inline{ display:inline!important; }

.nowrap{ white-space:nowrap; }

.m_subscribe{
	position:absolute;
	right:150px;
	top:2em;
}

.selection_menu{
	margin:0;
	padding:0;
	font-weight:bold;
}
.selection_menu li{
	margin:0.2em 0;
	list-style-type:none;
}
.selection_menu input.submit{
	margin:0;
	background:none;
	display:inline;
	cursor:pointer;
	border:none;
	font-weight:normal;
	padding-left:20px;
	text-align:left;
}

#sendmail{ background:url(images/icon-mail.png) left 50% no-repeat; }
#delete{ background:url(images/icon-trash.png) left 50% no-repeat; }

.fleft{float:left;}
.fright{float:right;}

input.large{
	width:90%;
}

.picker{
	padding:0 1em;
}

/*** Voir adhérent ***/
.details{
	width:75%;
	margin-bottom:1em;
}

/* IE6 does not handle properly 100% width */
html > * .details{
	width:100%;
}

.details caption{
	font-weight:bold;
	font-size:1.1em;
}
.details th{
	width:15em;
	font-weight:bold;
	vertical-align:middle;
	padding:0.2em 0.1em;
}
.details td.photo{
	width:1%;
}
td.photo img{
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

#details_menu{
	margin:2.5em 0 1em 0;
	padding:0;
	text-align:right;
}
#details_menu li{
	display:inline;
	padding:0 0 0 0.5em;
}
#details_menu li a{
	border:1px #BBBBBB solid;
	padding:25px 0.5em 0.2em 0.5em;
	font-weight: bold;
	color: #666666;
}
#details_menu li a:hover{
	color: #eea423;
	background-color:#EEEEEE;
}
/*** /Voir adhérent ***/

/*** Images buttons ***/
#btn_membercard{
	background:url(images/member_card.png) 50% 1px no-repeat;
}
#btn_edit{
	background:url(images/edit.png) 50% 1px no-repeat;
}
#btn_contrib{
	background:url(images/contribution.png) 50% 1px no-repeat;
}
#btn_addcontrib{
	background:url(images/add_contribution.png) 50% 1px no-repeat;
}
/*** /Images buttons ***/

/*** Onglets ***/
#tabs, #tabs li{
	list-style-type: none;
	margin:0;
	padding:0;
}

ul#tabs{
	width: 100%;
}

ul#tabs li{
	float:right;
	display:inline;
	background-color:#DDDDFF;
	margin:0 0 0 0.2em;
	line-height:2em;
}

#tabs a{
	text-decoration: none;
	color: #666;
	font-weight:bold;
	padding:0 1em;
	display:block;
	z-index:10;
}

#tabs a:hover, .tabselected a {
	text-decoration:underline;
}
.tabbed{
	background-color:#DDDDFF;
	clear:right;
	padding-top:.5em;
	padding-bottom:.5em;
}
.tabbed table#listing{
	width: 98%;
	margin:.5em 1%;
}
.current_tab{
	background-color:#eea423!important;
}
.current_tab a{
	color:white!important;
}
/*** /Onglets ***/

/*** Tooltips ***/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.95;
}
#tooltip h3, #tooltip div { margin: 0; }

.tt{
	width:20em;
}

.tooltip{
	background-image:url(images/info.png);
	background-position:right 50%;
	background-repeat:no-repeat;
}
/*** /Tooltips ***/

/*** Installation pages ***/
#installpage{
	text-align:center;
	margin:0 1em 0.5em 1em;
	position:relative;
}

#installpage h2{
	margin: 0;
	font-size:1.2em;
}

#installpage #submit_btn{
	text-align: right;
	margin:0;
}

#installpage ul.list{
	margin:0 auto;
	width:40em;
	text-align:left;
	list-style-type:none;
}
ul#paths{
	width:10em!important;
}
	
#installpage #retry_btn {
	text-align: center;
}

#submitbutton3 {
	position:absolute;
	right:0;
	bottom:0;
	text-align: right;
	margin:0;
}

#installpage #warningbox{
	text-align:center;
	color:black;
	padding : 0.5em 0.5em 0.5em 40px;
	background : white url(images/warning.png) no-repeat 5px 50%;
	width: 80%;
	margin:0 auto 0.8em auto;
	display:block;
}

.titreinstall {
	font-size:1.3em;
	text-align: center;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	background-color: #FBFBFB;
	border-color: #BBBBBB;
	color: #000000;
	left: 0px;
	right: 0px;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

#footerinstall{
	margin:0 1em;
	background-color:#DDDDFF;
	text-align:right;
	font-size: 0.85em;
}
#footerinstall p{
	margin:0.5em 0.5em 0 0.5em;
	font-weight:bold;
}
#footerinstall ol{
	color:#999;
	padding:0;
	margin:0 0.5em 0.5em 0.5em;
	list-style-type:none;
}
#footerinstall li{
	line-height:1.7em;
	display:inline;
	white-space:nowrap;
}
#footerinstall .current{
	color:black;
	font-weight:bold;
}

.footerinstall {
	text-align: right;
	padding-right: 20px;
	border:1px solid #BBBBBB;
	background-color: #FBFBFB;
	color: #000000;
	margin: 0;
}

.install-ok {
	list-style-image: url("../../install/yes.png");
	list-style-position:inside;
}

.install-bad {
	list-style-image: url("../../install/no.png");
	background-color:#FF8A8A;
	list-style-position:inside;
}

/*** /Installation pages ***/

.trombino{
	margin:.5em 0 0 .5em;
	background-color: #DDDDFF;
	padding-bottom:.2em;
	float:left;
	text-align:center;
	width:240px;
	height:240px;
}

.trombino img{
	margin:.5em .5em 0 .5em;
}

.tbl_line_even {
	background-color: #EEEEEE!important;
	vertical-align: top;
}

.tbl_line_odd {
	background-color: #E2E5EE!important;
	vertical-align: top;
}

.fields_list li{
	height:1.5em;
	margin-top:.5em;
	clear:left;
	padding-top:.2em;
}
.fields_list li.listing{
	font-weight:bold;
}
.fields_list span.label{
	display:block;
	width:21em;
	float:left;
}
.fields_list span.yesno{
	margin-right:.2em;
	width:15em;
	display:block;
	float:left;
	text-align:center;
}
.fields_list span.yesnoadmin{
	margin-right:.2em;
	width:25em;
	display:block;
	float:left;
	text-align:center;
}

#add_category{
	float:right;
}

#expand, #collapse{
	padding: 0.4em 1em;
	position:relative;
}

#expand span.ui-icon, #collapse span.ui-icon{
	float:left;
	margin-right: .2em;
}

.collapsible{
	float:left;
}

.ui-datepicker-trigger{
	cursor:pointer;
}

/** MENUS */
#menu {
	float: left;
	background-color: #DDDDFF;
	margin:0 0 0.5em 0.4em;
	padding:0 .2em;
	margin-top:10px!ie;
 	width:14em;
	text-align: center;
}

#menu h1 {
	font-size:1em;
	cursor:pointer;
	text-align:left;
	margin:0;
	padding:0;
}
#menu h1.nojs{
	background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_FFB619_1x400.png) repeat-x scroll 50% 50%;
}

#menu ul {
	list-style-type: none;
	padding: 0px;
	margin:0 0 .5em 0;
	text-align:left;
	overflow:hidden; /*a:active under firefox makes a overflow*/
}

#menu li {
	background-color: #fff;
	border-bottom:1px #DDDDFF solid;
}
#menu li.mnu_last {
	border-bottom:none;

}

#menu li a{
	padding: .1em .3em;
	display:block;
	color: #212121;
}
#menu li a:hover{
	background-color: #DDDDFF;
	text-decoration:underline;
}

#langs{
	list-style-type:none;
	margin:1em;
	padding:0;
	display:inline;
}
#langs li{
	padding:0;
	margin:0;
	display:inline;
	background-color:transparent;
}
#langs li a{
	display:inline;
}
/** /MENUS */