/*
 * == Summary
 *
 * == Global main styles
 * == Forms elements
 * == Header
 * == Main menu
 * == Footer
 * == Main Galette styles
 * == Public pages
 * == Mobile devices
 */

/*
 * == Global main styles
 */
a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    color: #eea423;
}

.ui-button:hover {
    color:inherit;
}

form,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cantarell", Verdana, sans-serif;
    font-size:0.85em;
    background-color:white;
    color:black;
}

img{
    border:none;
}

label, input[type="button"], input[type="submit"], input[type="reset"], button {
    cursor: pointer;
}

/* == Forms elements */
input, button, select {
    font-size:100%;
}

input:required {
    border:1px red solid;
    border-left-width: 8px;
}
input:required:valid {
    border-color:green;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
}

pre {
    margin: 0px;
}

img, table, td, blockquote, code, pre, textarea, input {
    max-width: 100%;
}

code, pre, samp, textarea {
    word-wrap: break-word;
    white-space: pre-wrap;
}

abbr[title] {
    border-bottom: 1px dotted #555;
    cursor: help;
}

th, cation {
    text-align: left;
}

p#required {
    font-size: .8em;
    float:left;
    margin:0;
}
/* =/ Global main styles */

/*
 * == Header
 */
 nav {
     margin: .3em 0 .5em;
     text-align: center;
}

nav a{
     display: inline-block!important;
}
/* =/ Header */

/*
 * == Main menu
 */
#menu {
    float: left;
    background-color: #DDDDFF;
    margin:0 0 0.5em 0.4em;
    padding:0 .2em;
    width:16em;
    text-align: center;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#menu h1 {
    font-size:1em;
    cursor:pointer;
    text-align:left;
    margin:0;
}
/* .nojs class will be removed at runtime by a js script */
#menu h1.nojs{
    background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png) repeat-x scroll 50% 50%;
}
#menu ul.nojs{
    margin:0 0 .5em 0;
}

#menu ul {
    list-style-type: none;
    padding: 0px;
    text-align:left;
    overflow:hidden; /*a:active under firefox makes a overflow*/
}

#menu li {
    background-color: #fff;
    border-bottom:1px #DDDDFF solid;
}

#menu li:last-child{
    border-bottom:none;
}

#menu li a{
    padding: .1em .3em;
    display:block;
    color: #212121;
}
#menu li a:hover{
    background-color: #DDDDFF;
    text-decoration:underline;
}
#menu li.selected a{
    background-color: #DDDDFF;
}

#langs{
    list-style-type:none;
    margin:1em 1em 0;
    padding:0;
    display:inline-block;
}
#langs li{
    padding:0;
    margin:0;
    display:inline;
    background-color:transparent;
}
#langs li a{
    display:inline;
}
/* =/ Main menu */

/*
 * == Desktop
 */

#desktop {
    border-spacing:3em 1em;
    text-align: center;
}

.desktop, .panels {
    border-spacing:1em;
}

#desktop,
.plugin,
#groups_list,
#group_infos {
    border:1px solid #AAAAAA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.plugin,
#groups_list,
#group_infos {
    display: table-cell;
}

.plugin {
    display: block;
    margin-bottom: 1em;
}

.plugin article {
    display: inline-block;
    min-width: 49%;
}

.plugin article header {
    border-bottom: 1px #DDDDFF solid;
}

#desktop header,
.plugin header,
#groups_list header,
#group_infos header {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#desktop a {
    border: 1px solid #d3d3d3;
    background-color: #e6e6e6;
    color: #555555;
    background-position: 50% .5em, 50% 50%;
    background-repeat: no-repeat, repeat-x;
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: bottom;
    padding: 60px .2em .2em;
    margin: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#desktop a:hover {
    border: 1px solid #999999;
    background-color: #ffb619;
    font-weight: normal; color: #212121;
}

#desktop #transactions {
    background-image: url(images/desktop/transactions.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #transactions:hover {
    background-image: url(images/desktop/transactions.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #members {
    background-image: url(images/desktop/members.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #members:hover {
    background-image: url(images/desktop/members.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #groups {
    background-image: url(images/desktop/groups.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #groups:hover {
    background-image: url(images/desktop/groups.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #contribs {
    background-image: url(images/desktop/contribs.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #contribs:hover {
    background-image: url(images/desktop/contribs.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #mailings {
    background-image: url(images/desktop/mailing.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #mailings:hover {
    background-image: url(images/desktop/mailing.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #reminder {
    background-image: url(images/desktop/reminders.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #reminder:hover {
    background-image: url(images/desktop/reminders.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #prefs {
    background-image: url(images/desktop/preferences.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #prefs:hover {
    background-image: url(images/desktop/preferences.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}

#desktop #plugins {
    background-image: url(images/desktop/plugins.png), url(jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png);
}
#desktop #plugins:hover {
    background-image: url(images/desktop/plugins.png), url(jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png);
}
/* =/ Desktop */

/*
 * == Footer
 */
footer {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

footer h4{
    font-size: 1em;
    margin: 0em 0 .2em;
    display:inline-block;
}

footer ul{
    margin:0;
    padding: 0;
}

footer li {
    display:inline-block;
    padding: .1em .2em;
    margin:0 .2em;
}

#copyright {
    color: #CCCCCC;
    font-style: italic;
}

#copyright:hover {
    color: #FF0000;
}
/* =/ Footer */

/* == Main Galette styles */
#asso_name {
    text-align: center;
    margin: 0 0 1em;
    font-weight: bold;
    font-size: 1.1em;
}

#listfilter {
    text-align: center;
    background-color: #DDDDFF;
    padding: 10px;
    margin:0 1em 1em 1em;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#listfilter input[type="text"]{
    padding:0;
}

.selection_menu{
    margin:0;
    padding:0;
}
.selection_menu li{
    margin:0.2em 0;
    display: inline-block;
}
.selection_menu input.submit{
    margin:0;
    background:none;
    display:inline;
    cursor:pointer;
    border:none;
    font-weight:normal;
    padding-left:20px;
    text-align:left;
}

.selection_menu .exemple {
    font-weight: normal;
    font-size:0.9em;
}

.hasPicker{
    display: inline;
}

.hidden {
    display: none!important;
}
/* loading animation */
#loading {
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 100000;
}
#loading p {
    position: absolute;
    top:40%;
    width: 20%;
    margin-left: 40%;
    background-color: rgba(255,255,255,.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 0;
    -moz-box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    -webkitbox-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
}

#superadmin, #demo {
    color: white;
    font-weight: bold;
    margin: 0 .5em .5em;
    padding:.2em;
    background-color: rgba(255, 0, 0, 0.4);
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
    box-shadow: 1px 1px 13px rgba(255, 0, 0, 0.4);
}

#demo {
    background-color:rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
}

.public_page #demo {
    position: absolute;
    width: 16em;
    top: 0;
    left: 0;
    margin:0;
    border-radius: 0 0 6px 0;
}

/* == Buttons */
#delete, #sendmail, #btnsave, #btnvalid, #btnadd, #btncancel, #btnsend, #btnpreview, #btnusers, .button {
    padding-left: 2em!important;
    background-position: 10px 50%, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}

.button.small {
    padding-left: inherit!important;
    background-repeat: repeat!important;
}
.button.small span {
    padding: 0 .5em;
    font-size: .7em;
}

.button.notext {
    width: .5em;
    height: 2em;
}
.button.notext span {
    display: none;
}

.group-btn {
    padding: 0!important;
    background-position: 50% 50%!important;
    background-repeat: repeat!important;
}

#sendmail{
    background-image:url(images/icon-mail.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#sendmail.ui-state-hover {
    background-image:url(images/icon-mail.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

h1 #sendmail {
    display: inline-block;
    height: 25px;
    width: 35px;
    position: absolute;
    top:.1em;
    right: .5em;
    overflow: hidden;
    text-indent: 50px;
    padding:0!important;
}

h1 #sendmail .ui-button-text {
    display: none;
}

#delete{
    background-image: url(images/icon-trash.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#delete.ui-state-hover {
    background-image:url(images/icon-trash.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#subscribe {
    background-image:url(images/subscribe.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#subscribe.ui-state-hover {
    background-image:url(images/subscribe.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#lostpassword, #btn_lostpassword {
    background-image:url(images/icon-lost_pass.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#lostpassword.ui-state-hover, #btn_lostpassword.ui-state-hover {
    background-image:url(images/icon-lost_pass.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#memberslist {
    background-image:url(images/members-list.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#memberslist.ui-state-hover {
    background-image:url(images/members-list.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#trombino {
    background-image:url(images/trombino.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#trombino.ui-state-hover {
    background-image:url(images/trombino.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#backhome {
    background:url(images/home.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#backhome.ui-state-hover {
    background-image:url(images/home.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#logout {
    background-image:url(images/icon-quit.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#logout.ui-state-hover {
    background-image:url(images/icon-quit.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnadd, #btnadd_small {
    background-image:url(images/icon-add.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnadd.ui-state-hover, #btnadd_small.ui-state-hover{
   background-image:url(images/icon-add.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btninfo_small {
    background-image:url(images/icon-info.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btninfo_small.ui-state-hover{
   background-image:url(images/icon-info.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnadd_small, #btnusers_small, #btnmanagers_small, #btninfo_small {
    position: absolute;
    top: .5em;
    right: .5em;
}
legend #btnadd_small {
    right: 2.5em;
}

#btncancel {
    background-image:url(images/icon-cancel.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btncancel.ui-state-hover {
    background-image:url(images/icon-cancel.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnsave {
    background-image:url(images/icon-save.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnsave.ui-state-hover {
    background-image:url(images/icon-save.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnvalid {
    background-image:url(images/icon-valid.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnvalid.ui-state-hover {
    background-image:url(images/icon-valid.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnback {
    background-image:url(images/prev.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnback.ui-state-hover {
    background-image:url(images/prev.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnpreview {
    background-image:url(images/icon-preview.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnpreview.ui-state-hover {
    background-image:url(images/icon-preview.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnsend {
    background-image:url(images/icon-mail-send.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnsend.ui-state-hover {
    background-image:url(images/icon-mail-send.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnusers, #btnusers_small {
    background-image:url(images/icon-user.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnusers.ui-state-hover, #btnusers_small.ui-state-hover {
    background-image:url(images/icon-user.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnmanagers, #btnmanagers_small {
    background-image:url(images/icon-star.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnmanagers.ui-state-hover, #btnmanagers_small.ui-state-hover {
    background-image:url(images/icon-star.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btngroups, #btnmanagedgroups {
    background-image:url(images/icon-user.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btngroups.ui-state-hover, #btnmanagedgroups.ui-state-hover  {
    background-image:url(images/icon-user.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#histreset {
    background-image:url(images/delete.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#histreset.ui-state-hover {
    background-image:url(images/delete.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#preferences {
    background-image:url(images/icon-prefs.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#preferences.ui-state-hover {
    background-image:url(images/icon-prefs.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#next, #installpage input[type="submit"] {
    background-image:url(images/next.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
    padding-left: 0.4em!important;
    padding-right: 2em!important;
    background-position: 95% 50%, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}
#next.ui-state-hover, #installpage input[type="submit"]:hover {
    background-image:url(images/next.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#prev {
    background-image:url(images/prev.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#prev.ui-state-hover {
    background-image:url(images/prev.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btnlabels {
    background-image:url(images/printer.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btnlabels.ui-state-hover {
    background-image:url(images/printer.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btn_membercard, #btn_edit, #btn_contrib, #btn_addcontrib, #btn_lostpassword {
    padding-top:30px!important;
    padding-left: 0!important;
    display: block;
    background-position: 50% 5px, 50% 50%!important;
    background-repeat: no-repeat, repeat!important;
}
#btn_membercard {
    background-image:url(images/member_card.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_membercard.ui-state-hover {
    background-image: url(images/member_card.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btn_edit {
    background-image:url(images/edit.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_edit.ui-state-hover {
    background-image: url(images/edit.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btn_contrib {
    background-image:url(images/contribution.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_contrib.ui-state-hover {
    background-image: url(images/contribution.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

#btn_addcontrib {
    background-image:url(images/add_contribution.png), url("jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png");
}
#btn_addcontrib.ui-state-hover {
    background-image: url(images/add_contribution.png), url("jquery-ui/images/ui-bg_glass_75_ffb619_1x400.png");
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.center {
    text-align: center;
}

.center_table {
    margin:0 auto;
}

.cotis-ok {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-never {
    background-color: #EEEEEE!important;
    vertical-align: top;
}

.cotis-exempt {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-soon {
    background-color: #FFE9AB!important;
    vertical-align: top;
}

.cotis-late, .transaction-uncomplete {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

.cotis-lastday {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

.cotis-normal, .transaction-normal {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

.cotis-give {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

#transaction_detail {
    margin-bottom: 1em;
}

#transaction_detail caption {
    font-weight: bold;
    padding:.2em;
}

#transaction_detail thead td {
    text-align: center;
    font-style: italic;
    background-color: transparent;
}

#clearfilter, .clearfilter {
    background: url(images/clearfilter.png) 0 50% no-repeat;
    display:inline-block;
    width:16px;
    height:16px;
    overflow: hidden;
    text-indent: 20px;
    vertical-align: bottom;
}

.debuginfos span{
    display: block;
    font-family: monospace;
    font-size:1.1em;
}

/* =/ Main Galette styles */

/* == Groups stuff */
#groups_list {
    border-spacing:3em 1em;
    min-width: 13em;
}

#groups_tree, #group_infos > div {
    margin: .5em;
}

#group_infos{
    min-width: 85%;
    margin-left: 1em;
    vertical-align: top;
}
/* =/ Groups stuff */

/* == Ajax member selection */
#members_list {
    padding-top: 1em;
}

.select_members {
    padding-right: 1em;
}
.select_members,
#selected_members,
#selected_groups {
    display:table-cell;
    vertical-align: top;
}

.select_members.single {
    display: block;
}

.select_members th.left {
    width:50%;
}

#selected_members header,
#selected_groups header {
    padding-top: 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#selected_members,
#selected_groups {
    min-width: 25em!important;
    margin-left:.5em!important;
    text-align: center;
}

#selected_members ul,
#selected_groups ul {
    text-align: left;
    list-style-image: url(images/clearfilter.png);
    cursor: pointer;
    overflow: auto;
}

#selected_members ul #none_selected,
#selected_groups ul #none_selected {
    list-style-type: none;
    list-style-image: none;
    cursor: auto;
}

#selected_members .unreachables {
    text-decoration: line-through;
    color: red;
}

#selected_members h3,
#selected_groups h3 {
    margin:0;
    font-size: 1em;
}

.texts_legend .back > span {
    font-size: .9em;
    text-align: right;
    display: block;
    color:#666;
}

.help {
    background:url(images/help.png) 100% 50% no-repeat;
    padding-right: 25px;
    min-height: 25px;
    display: inline-block;
}

/*
 * == Public pages
 */
 .public_page footer{
    clear:both;
}

.public_page header {
     text-align: center;
     margin-top:1em;
}

.public_page table.listing,
table.infoline {
    margin: 0 auto;
    width: 95%;
}

.public_page #langs {
    display: block;
    margin:0;
}

.public_page section {
    text-align: center;
}

.public_page table {
    margin:1em auto;
}

.public_page form {
    text-align: center;
}

.public_page .exemple {
    margin-top:0;
}

.public_page #user {
    position: absolute;
    top:0;
    right:0;
    display:inline-block;
    border-bottom:1px solid #DDDDFF;
    border-left:1px solid #DDDDFF;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.public_page #userlink {
    color: #666666;
    background: url(images/icon-user.png) 7px 50% no-repeat;
    padding: .2em .2em .2em 25px;
    display: inline-block;
}

.public_page #user a:hover {
    color: #eea423;
}

.public_page #logout {
    background-repeat: no-repeat;
    text-indent: 25px;
    width:16px;
    margin: 0 .5em .2em;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}
/* =/ Public pages */

/*
 * == End
 */

/** OLD STYLES */
input.submit
{
    display:block;
    background-color: #FBFBFB;
    font-weight: bold;
    color: #666666;
    border: 1px solid #BBBBBB;
    margin: 0.5em auto 0 auto;
}

input.submit:hover
{
    color: #FF0000;
}

.pagelink {
    font-weight: bold;
}

#titre{
    font-size:1.3em;
    line-height:1.7em;
    background-color:#DDDDFF;
    margin:0 1em 0em 1em;
    color: #666;
    text-align:center;
    position:relative;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.self_subscribe{
    margin-top:0.5em!important;
}

.titre {
    font-size:1.3em;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #FBFBFB;
    border-color: #BBBBBB;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #000000;
    width: 100%;
}

.soustitre {
    font-size:1.2em;
    text-align: left;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #FBFBFB;
    border-color: #BBBBBB;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #000000;
    width: 100%;
}

table.listing th, li.listing {
    background: #FFB619 url(jquery-ui/images/ui-bg_glass_65_ffb619_1x400.png) repeat-x scroll 50% 50%;
    color: #212121;
    white-space: nowrap;
    font-weight: normal;
    font-weight: bold;
    margin-top: .3em;
    padding: .1em .2em;
    vertical-align: middle;
}

.bgfree {
    background: none!important;
}

.id_row,
th.small_head{
    width:1%;
}
.username_row{
    width:25%;
}
.actions_row{
    width:1%;
    white-space: nowrap;
}

.date_row{
    width:6em;
}

table.listing th a,
a.listing {
    color: #212121;
    vertical-align: middle;
}

table.listing td {
    line-height:1.5em;
    margin-top:.3em;
    padding:.1em .2em;
    vertical-align: middle;
}

table.listing th a:hover,
a.listing:hover {
    color: #666!important;
}

.emptylist {
    background-color: #EEEEEE;
    text-align: center;
    font-style: italic;
}

.actif {
}

.inactif, .inactive {
    color: #777777;
    font-style: italic;
}

.acronyme {
    color: #AAAAAA;
    font-style: italic;
}

.note {
    margin:0;
}

.exemple, .disabled, .disabled a {
    color: #999999;
}

#logo {
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0;
}

#main_logo{
    text-align: center;
    margin-top:0.5em;
}

.nav1 {
    width: 13em;
    margin-left:0.3em;
    border-color: #7777FF;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.5em;
    padding:0;
}

.nav1 h1 {
    margin: 2px;
    font-size:1em;
    background-color: #CDCDFF;
    padding-left: 0.2em;
}

.nav1 ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

.nav1 li {
    background-color: #EEEEEE;
    margin-bottom: 2px;
    padding-left: 2px;
}

#logout {
    text-align: center;
    margin:0 0 .7em;
}

#legende {
    border: 1px #7777FF solid;
    width:40%;
    margin-left:0.3em;
    margin-bottom:0.7em;
}

#legende table {
    width: 100%;
}

#legende h1 {
    margin: 2px;
    font-size:1em;
    background-color: #CDCDFF;
    padding-left: 0.2em;
    text-align: left;
}

#legende th{
    text-align:center;
    width:18px;
}
#legende td, #legende th {
    padding-left: 2px;
    background-color: #EEEEEE;
}

.ui-dialog > #legende {
    border:none;
    margin:0;
}

.color-sample {
    border-color: #AAAAAA;
    border-width: 1px;
    border-style: solid;
}

#content {
    margin-left:17em;
    margin-top: 10px;
    padding: 0.5em;
}

#full_content {
    padding:0 0.5em;
}

#listing,
table.listing {
    width: 100%;
}

#listfilter form {
    margin-bottom: 0px;
}

.infoline{
    vertical-align: top;
    width: 100%;
}

.infoline td {
    vertical-align: bottom;
    width: 33%;
}

.infoline ul {
    margin: 0px;
    list-style-type: none;
}

.infoline2 {
    margin-top: 2px;
}

.mailing,
#selected_members,
#selected_groups {
    width: 60%;
    margin:0 auto;
    min-width: 50em;
    background-image: url(images/mailing_bg.jpg);
    background-repeat: no-repeat;
    background-position: center 1.5em;
    padding-bottom: .3em;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 1px 1px 12px #555;
    -webkitbox-shadow: 1px 1px 12px #555;
    box-shadow: 1px 1px 12px #555;
}

#desktop header,
.plugin header,
.mailing header,
#selected_members header,
#selected_groups header,
#groups_list header,
#group_infos header {
    padding: .2em 0;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.mailing section {
    padding-top:1em;
}
.mailing section:first-child {
    padding-top:0em;
}

.mailing_write div,
.mailing_preview,
.mailing_attachments div{
    margin:.5em 1em;
}

.mailing_infos header{
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

.mailing_infos p{
    width: 50%;
    display: table-cell;
    padding: .5em;
    vertical-align: middle;
    text-align: right;
}

.mailing_infos p:nth-child(2){
    text-align: left;
}

#mailing_objet, #mailing_corps{
    width:99%;
}

.ajax_mailing_preview header {
    padding:.2em 0;
    font-weight: bold!important;
    text-align: center;
}

#mailing_header dt,
#mailing_header dd {
    display: inline-block;
    padding:0;
    margin:0;
}
#mailing_header dt {
    font-weight: bold;
    width: 18%;
}
#mailing_header dd {
    width: 80%;
}

.attached {
    background: url(images/attached.png) 0 50% no-repeat;
    padding-left: 20px;
}

.membercount {
    cursor: pointer;
    background: url(images/icon-user.png) 99% 50% no-repeat;
    padding-right: 20px;
}

#errorbox {
    text-align:center;
    color:black;
    border : 2px solid #c00;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/error.png) no-repeat 5px 50%;
    width: 80%;
    margin:0 auto 0.8em auto;
}

#errorbox h1 {
    font-size:1em;
    font-weight: bold;
    margin: 0;
}

#errorbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#warningbox, .warningbox {
    text-align:center;
    color:black;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/warning.png) no-repeat 5px 50%;
    width: 80%;
    margin:0 auto 0.8em auto;
    display:block;
    border:2px solid #FFB619;
}

#warningbox h1 {
    background-color: #FFB619;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

#warningbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#infobox, #successbox {
    text-align:center;
    color:black;
    border : 2px solid #04CC65;
    padding : 0.5em 0.5em 0.5em 40px;
    background : white url(images/ok.png) no-repeat 5px 50%;
    width: 80%;
    margin:0 auto 0.8em auto;
}

#infobox h1 {
    font-size:1em;
    font-weight: bold;
    margin: 0;
}

#infobox ul,
#successbox ul {
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    border: none;
}

#input-table{
    margin:0.5em 1em;
    background-color:white;
}

#input-table .libelle {
    font-size: 11px;
    text-align: left;
    background-color: #DDDDFF;
    font-weight: normal;
}

#input-table .header {
    text-align: left;
    font-weight: bold;
}

#input-table tr:hover {
    background-color: #EEEEEE;
}

#tables_list{
    width:25em;
    margin-left:auto;
    margin-right:auto;
}

#listing td,
table.listing td,
#listing input,
table.listing input{
    vertical-align: middle;
}

td img, a img {
    vertical-align: middle;
}

.sql_log {
    border:1px dashed;
    display:block;
    margin:.2em .5em .5em;
    padding:.2em .3em;
    font-family: monospace;
    font-size:1.2em;
    background-color: rgba(221,221,255,0.5);
}

.mail_preview {
    height: 230px;
    vertical-align: top;
    padding: 5px;
}

.mailing_write p {
    display:block!important;
}

#mail_preview div:nth-child(2) {
    max-height: 20em;
    overflow: auto;
}

.button-container
{
    text-align: center;
}

.flag
{
    border: 1px solid black;
}

.bigtable
{
    text-align: center;
}
.bigtable table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BBBBBB;
}
.bigtable th
{
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    background-color: #DDDDFF;
    padding: 0px 5px 0px 5px;
}
.bigtable td
{
    background-color: #EEEEEE;
    padding: 0px 5px 0px 5px;
    text-align: left;
}
.bigtable .separator
{
    padding:.3em 0 .1em;
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.bigtable .subtitle
{
    color:#0C0CC0;
    padding: 1em 5px 0.5em 5px;
    font-weight:bold;
    border-top:1px solid;
}

.required{
    color:#FF0000;
    font-weight:bold;
}

/** Accessibility **/
fieldset{
    border: 1px solid #BBBBBB;
    margin:0 1em 1em;
    text-align:left;
    position:relative;
    padding:.5em;
}
fieldset.large{
    margin:0 1% 1em 1%;
    clear:right;
}
fieldset ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
fieldset li{
    margin:0.1em 0;
    clear:left;
}

legend {
    border: 1px solid #BBBBBB;
    font-weight:bold;
    padding:0.3em;
    width:97%;
    margin-left:1%;
    margin-bottom: 1em;
    background-color:white;
}

.cssform{ background-color:white; }
.cssform ul{
    display: inline-block;
    padding:0;
}
.cssform li{
    clear:none;
}

.cssform p, .cssform div.p{
    clear: left;
    margin: 0;
    padding: 5px 0;
    padding-left: 22em; /*width of left column containing the label elements plus 1*/
    border-top: 1px dashed gray;
    height: 1%;
}

/* no border on the first 'p' child */
.cssform p:nth-child(2), #addfield p:first-child, .cssform legend+p/*, .cssform div.p:nth-child(2), .cssform div p:nth-child(1)*/{
    border-top:none;
}
/* If there is a div, the preceding rules does not apply to the correct element :( */
.cssform div p:nth-child(2) {
    border-top:1px dashed gray;
}
/* But w do not whant border on the first element thought :) */
.cssform div p:nth-child(1) {
    border-top:none;
}

.cssform p.exemple {
    border: none!important;
}

.cssform p.notform{
    padding-left:0;
    border:none;
    height:auto;
}

.bline{
    font-weight: bold;
    background-color: #DDDDFF;
    padding:0.1em 0.3em;
    margin-bottom:1em;
    display:block;
    vertical-align:top;
    padding:5px;
}

th.bline, td.bline{
    font-weight: bold;
    background-color: #DDDDFF;
    padding:0.1em 0.3em;
    margin-bottom:0;
    display:block;
    text-align:left;
}

.cssform .bline{
    display: inline-block;
    margin: 0 0 0 -22em;
    width: 21em;
}

.cssform textarea{
    width:90%;
    height: 150px;
}

.logo{
    margin:0.3em 0;
}

.menu{
    margin:0.7em 0 0 0;
    padding:0;
    text-align:right;
    font-weight:bold;
}
.menu li{
    margin:0.5em 0;
    list-style-type:none;
}
.menu a{
    color: #666666;
    padding:0.3em 20px 0.3em 0;
}

.inline{ display:inline!important; }

.nowrap{ white-space:nowrap; }

.m_subscribe{
    position:absolute;
    right:.5em;
    top:.5em;
    margin:0;
}

.fleft{float:left;}
.fright{float:right;}

input.large, span.large {
    width:90%!important;
}

.picker{
    padding:0 1em;
}

/*** Voir adhérent ***/
.details{
    width:85%;
    margin-bottom:1em;
    border-top: none!important;
}

.details caption{
    font-weight:bold;
    font-size:1.1em;
    padding:.3em;
}
.details th{
    width:15em;
    font-weight:bold;
    vertical-align:middle;
    padding:0.2em 0.1em;
}

td.photo img{
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dndhover {
    opacity:0.4;
}

#details_menu{
    padding:0;
    text-align:center;
    float: right;
    list-style-type: none;
    width: 10em;
}
#details_menu li {
    margin-bottom:.5em;
}

.wrmenu {
    margin-right: 10em;
}
/*** /Voir adhérent ***/

/*** Onglets ***/
.tabbed {
    display: inline-block;
    width: 100%;
}

.tabbed div {
    margin-bottom: 1em;
}

.tabbed fieldset {
    margin: 0;
    padding: 0!important;
    border: none;
}

.tabbed legend, .tabbed h3 {
    border: none;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

#tabs > div {
    margin: 0;
    padding: 0;
}
/*** /Onglets ***/

/*** Tooltips ***/
#tooltip {
    position: absolute;
    z-index: 3000;
    background-color: white;
    padding: 5px;
    opacity: 0.95;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 1px 1px 12px #555;
    -webkitbox-shadow: 1px 1px 12px #555;
    box-shadow: 1px 1px 12px #555;

}
#tooltip h3, #tooltip div { margin: 0; }

.tt{
    width:20em;
}

.tooltip{
    background-image:url(images/info.png);
    background-position:right 50%;
    background-repeat:no-repeat;
}
/*** /Tooltips ***/

.trombino{
    margin:.5em 0 0 .5em;
    background-color: #DDDDFF;
    padding-bottom:.2em;
    display: inline-block;
    vertical-align: top;
    text-align:center;
    width:240px;
    height:240px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.trombino img{
    margin:.5em .5em 0 .5em;
}

.trombinoscope {
    text-align: center;
}

.tbl_line_even,
.even > td {
    background-color: #EEEEEE!important;
    vertical-align: top;
}

.tbl_line_odd,
.odd > td {
    background-color: #E2E5EE!important;
    vertical-align: top;
}

.cssform > .fields_list {
    display: block;
}
.fields_list li{
    line-height:1.5em;
    margin-top:.3em;
    padding:.1em .2em;
    vertical-align: middle;
}

.yesno > input, .yesnoadmin > input {
    margin: 0.2em;
    vertical-align: bottom;
}

.fields_list label {
    padding:0 .5em 0 .1em;
}

.listing tr:hover td,
.fields_list li:hover,
.odd:hover > td,
.even:hover > td {
    background-color: #DDDDFF!important;
}

.listing tfoot tr:hover td {
    background-color: transparent!important;
}

.fields_list span.label{
    display:inline-block;
    width: 33%;
}

.fields_list span.yesno{
    margin-right:.2em;
    display:inline-block;
    text-align:center;
    width: 18%;
}
.fields_list span.yesnoadmin{
    margin-right:.2em;
    min-width:25em;
    width:33%;
    display:inline-block;
    text-align:center;
}

#add_category{
    float:right;
}

#expand, #collapse{
    padding: 0.4em 1em;
    position:relative;
}

#expand span.ui-icon, #collapse span.ui-icon{
    float:left;
    margin-right: .2em;
}

.collapsible{
    float:left;
}

.ui-datepicker-trigger{
    cursor:pointer;
}

/** PAGINATION */
.pages .current a{
    color:#FFB619;
    font-weight:bold;
}
.pages{
    text-align:center;
    margin:.2em 0 0 0;
    padding:0;
}
.pages a{
    padding:0 3px;
}
.pages a:hover{
    background-color:#EEEEEE;
    color:black;
}
.pages li{
    display:inline;
    padding:0;
    margin:0;
}
/** /PAGINATION*/

.notup2date {
    margin-top: 5em;
}

.notup2date #errorbox {
    width: 30em;
}

#oldie {
    /*position: absolute;
    top: 0;*/
    background-color: red;
    text-align: center;
    font-weight: bold;
}

#oldie p {
    margin: 0;
}

#member_stateofdue {
    margin: 0 auto .5em;
    width: 85%;
    padding: .1em 0;
    border-radius: 6px;
    text-align: center;
}

.warnings {
    background-image: url(images/icon-warning.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.jqplot-target {
    display: inline-block;
}

#ContribsAllTime {
    width: 800px;
}

/** Mobile devices */
@media (max-width: 640px) {

    /* Un message personnalisé */
    body:before {
        content: "BETA - Galette Version mobile - BETA";
        display: block;
        color: #777;
        text-align: center;
        font-style: italic;
    }

    /* passer tous les éléments de largeur fixe en largeur automatique */
    body {
        width: auto !important;
        margin: auto !important;
        padding: auto !important;
    }

    /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
    img, table, td, blockquote, code, pre, textarea, input, object, embed, video {
        max-width: 100% !important;
    }

    /* gestion des mots longs */
    textarea, table, td, th, code, pre, samp {
        word-wrap: break-word; /* césure forcée */
        white-space: pre-line; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    .menu {
      text-align:center;
    }

    #main_logo {
        position:relative;
        top:0;
        right:0;
    }
}
@media screen and (max-width:640px) and (orientation: landscape) {
    body {
        -webkit-text-size-adjust: 70%;
    }
}
