{% extends 'page.html.twig' %}

{% block content %}
    <form action="{{ url_for('doAddEntitled', {'class': url_class}) }}" method="post" class="tabbed ui form">
        <div id="intitules_tabs">
            {% include 'elements/edit_entitleds.html.twig' %}
            {% include 'components/forms/csrf.html.twig' %}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            {% if url_class == "status" %}
                {% set modaltitle = _T("Edit status")|e("js") %}
            {% elseif type == "contributions-types" %}
                {% set modaltitle = _T("Edit contribution type")|e("js") %}
            {% endif %}
            {% include "elements/js/modal_action.js.twig" with {
                selector: ".single-edit",
                modaltitle: modaltitle,
                modal_class: "mini",
            } %}

            {% include "elements/js/removal.js.twig" with {
                single_action: "true"
            } %}
        });
    </script>
{% endblock %}
