{% extends 'page.html.twig' %}

{% block content %}
        <div class="ui four item top attached stackable tabs menu">
{% for m in models %}
            <a href="{{ path_for('pdfModels', {'id': m.id}) }}" class="item{% if m.id == model.id %} active{% endif %}" data-tab="{{ m.id }}">{{ m.name }}</a>
{% endfor %}
        </div>
{% for m in models %}
        <div class="ui bottom attached{% if m.id == model.id %} active{% endif %} tab segment" data-tab="{{ loop.index }}">
    {% if m.id == model.id %}
        {% include 'elements/edit_pdf_models.html.twig' %}
    {% endif %}
        </div>
{% endfor %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            _addLegenButton('#legend-container');
            _handleLegend();
        </script>
{% endblock %}
