{% extends 'page.html.twig' %}

{% block content %}
    <form action="{{ url_for('doAddEntitled', {'class': url_class}) }}" method="post" class="tabbed ui form">
        {% include 'elements/edit_entitleds.html.twig' %}
        {% include 'components/forms/csrf.html.twig' %}
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            {% set modalapprove = "
                $('.modal-form form #redirect_uri').val(window.location.href);
                $('.modal-form form').submit();
            " %}
            {% if url_class == "status" %}
                {% set modaltitle = _T("Edit status")|e("js") %}
            {% elseif url_class == "contributions-types" %}
                {% set modaltitle = _T("Edit contribution type")|e("js") %}
            {% endif %}
            {% include "elements/js/modal_action.js.twig" with {
                selector: ".single-edit",
                modaltitle: modaltitle,
                modal_class: "tiny",
                modalapprove: modalapprove
            } %}

            {% include "elements/js/removal.js.twig" with {
                single_action: "true"
            } %}
        });
    </script>
{% endblock %}
