{% extends 'page.html.twig' %}

{% block content %}
    <form action="{{ url_for('doAddEntitled', {'class': url_class}) }}" method="post" class="tabbed ui form">
        <div id="intitules_tabs">
            {% include 'elements/edit_entitleds.html.twig' %}
            {% include 'components/forms/csrf.html.twig' %}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            {% include 'elements/js/removal.js.twig' %}
        });
    </script>
{% endblock %}
