{% extends 'public_page.html.twig' %}

{% set body_class = "front_page" %}

{% block content %}
                <form action="{{ path_for('retrieve-pass') }}" method="post" enctype="multipart/form-data" class="ui form">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i><span class="hidden"><label for="login">{{ _T("Username or email:") }}</label></span>
                                <input type="text" name="login" id="login" autofocus placeholder="{{ _T("Username or email:") }}"/>
                            </div>
                        </div>
                        <input type="submit" class="ui fluid large primary submit button" name="lostpasswd" value="{{ _T("Recover password") }}" />
                        <input type="hidden" name="valid" value="1"/>
                        {% include "components/forms/csrf.html.twig" %}
                    </div>
                </form>
{% endblock %}
