{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'public_page.html.twig' %}

{% set body_class = "front_page" %}

{% block content %}
                <form action="{{ url_for('retrieve-pass') }}" method="post" enctype="multipart/form-data" class="ui form">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon" aria-hidden="true"></i><label for="login" class="visually-hidden">{{ _T("Username or email:") }}</label>
                                <input type="text" name="login" id="login" autofocus placeholder="{{ _T("Username or email:") }}"/>
                            </div>
                        </div>
                        <input type="submit" class="ui fluid large primary submit button" name="lostpasswd" value="{{ _T("Recover password") }}" />
                        <input type="hidden" name="valid" value="1"/>
                        {% include "components/forms/csrf.html.twig" %}
                    </div>
                </form>
{% endblock %}
