/* == Old styles */

.cssform p {
    clear: left;
    margin: 0;
    padding: 5px 0;
    padding-left: 22em; /*width of left column containing the label elements plus 1*/
    border-top: 1px dashed gray;
    height: 1%;
}
/* no border on the first 'p' child */
.cssform p:nth-child(2) {
    border-top:none;
}

.bline {
    font-weight: bold;
    background-color: #DDDDFF;
    padding:0.1em 0.3em;
    margin-bottom:1em;
    display:block;
    vertical-align:top;
    padding:3px;
}

#legende {
    border: 1px #7777FF solid;
    width:40%;
    margin-left:0.3em;
    margin-bottom:0.7em;
}
#legende table {
    width: 100%;
}
#legende h1 {
    margin: 2px;
    font-size:1em;
    background-color: #CDCDFF;
    padding-left: 0.2em;
    text-align: left;
}
#legende th{
    text-align:center;
    width:18px;
}
#legende td,
#legende th {
    padding-left: 2px;
}
#legende .color-sample {
    border-color: #AAAAAA;
    border-width: 1px;
    border-style: solid;
}

/* =/ Old styles */
