<header id="top-navbar" class="ui top fixed menu">
    <div class="ui fluid container">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <div class="header item">
            <img src="{{ url_for("logo") }}" width="{{ logo.getOptimalWidth() }}" height="{{ logo.getOptimalHeight() }}" alt="[ Galette ]" class="logo" />
            <span>{{ preferences.pref_nom }}</span>
        </div>

        {% include "elements/navigation/public_pages.html.twig" with {
                tips_position: "bottom center",
                sign_in: true,
                sign_in_side: 'right'
        } %}

        {% include "elements/language.html.twig" with {
                ui: "dropdown"
        } %}

        {% if constant('GALETTE_MODE') == 'DEMO' %}
            <div class="item">
                {% include "elements/modes.html.twig" %}
            </div>
        {% endif %}
    </div>
</header>
